<section class="print">
  <div class="container">
    <h2 class="print__title">МИ СТВОРЮЄМО</h2>
    <ul class="print__list">
      <li class="print__item icon">
        <img
          href="./index.html"
          class="img"
          srcset="
            ./images/pic/print/pic-desktop-1x.jpg,
            ./images/pic/print/pic-desktop-2x.jpg 2x,
            ./images/pic/print/pic-tablet-1x.jpg  1x,
            ./images/pic/print/pic-tablet-2x.jpg  2x,
            ./images/pic/print/pic-mobile-1x.jpg  1x,
            ./images/pic/print/pic-mobile-2x.jpg  2x
          "
          src="./images/pic/print/pic-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1200px), (min-width 768px), (min-width 480px)"
        />
      </li>
      <li>
        <img
          href="./index.html"
          class="img"
          srcset="
            ./images/pic/print/maket-desktop-1x.jpg,
            ./images/pic/print/maket-desktop-2x.jpg 2x,
            ./images/pic/print/maket-tablet-1x.jpg  1x,
            ./images/pic/print/maket-tablet-2x.jpg  2x,
            ./images/pic/print/maket-mobile-1x.jpg  1x,
            ./images/pic/print/maket-mobile-2x.jpg  2x
          "
          src="./images/pic/print/maket-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1200px), (min-width 768px), (min-width 480px)"
        />
      </li>
      <li>
        <img
          href="./index.html"
          class="img"
          srcset="
            ./images/pic/print/dekor-desktop-1x.jpg,
            ./images/pic/print/dekor-desktop-2x.jpg 2x,
            ./images/pic/print/dekor-tablet-1x.jpg  1x,
            ./images/pic/print/dekor-tablet-2x.jpg  2x,
            ./images/pic/print/dekor-mobile-1x.jpg  1x,
            ./images/pic/print/dekor-mobile-2x.jpg  2x
          "
          src="./images/pic/print/dekor-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1200px), (min-width 768px), (min-width 480px)"
        />
      </li>
      <li>
        <img
          href="./index.html"
          class="img"
          srcset="
            ./images/pic/print/3D-coub-desktop-1x.jpg,
            ./images/pic/print/3D-coub-desktop-2x.jpg 2x,
            ./images/pic/print/3D-coub-tablet-1x.jpg  1x,
            ./images/pic/print/3D-coub-tablet-2x.jpg  2x,
            ./images/pic/print/3D-coub-mobile-1x.jpg  1x,
            ./images/pic/print/3D-coub-mobile-2x.jpg  2x
          "
          src="./images/pic/print/3D-coub-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1200px), (min-width 768px), (min-width 480px)"
        />
      </li>
    </ul>
  </div>
</section>
