<section class="print">
  <div class="container print-box">
    <div class="decor"></div>
    <div class="decor decor--second"></div>
    <h2 class="print__title">МИ СТВОРЮЄМО</h2>
    <ul class="print__list">
      <li class="print__item">
        <div class="produkt">
          <picture>
            <source
              srcset="/src/images/pic/print/desktop-detail@1x.png 1x,
              /src/images/pic/print/desktop-detail@2x.png 2x"
              type="image/png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/src/images/pic/print/tablet-detail@1x.png 1x,
              /src/images/pic/print/tablet-detail@2x.png 2x"
              type="image/png"
              media="(min-width: 768px) and (max-width: 1439px)"
            />
            <source
              srcset="/src/images/pic/print/mobile-detail@1x.png 1x,
              /src/images/pic/print/mobile-detail@2x.png 2x"
              type="image/png"
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/pic/print/detail.png"
              alt="прототип"
            />
          </picture>
        </div>
        <p class="produkt__title">ПРОТОТИПИ</p>
      </li>
      <li class="print__item icon-maket">
        <div class="produkt">
          <picture>
            <source
              srcset="/src/images/pic/print/desktop-model@1x.png 1x,
              /src/images/pic/print/desktop-model@2x.png 2x"
              type="image/png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/src/images/pic/print/tablet-model@1x.png 1x,
              /src/images/pic/print/tablet-model@2x.png 2x"
              type="image/png"
              media="(min-width: 768px) and (max-width: 1439px)"
            />
            <source
              srcset="/src/images/pic/print/mobile-model@1x.png 1x,
              /src/images/pic/print/mobile-model@2x.png 2x"
              type="image/png"
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/pic/print/model.png"
              alt="прототип"
            />
          </picture>
        </div>
        <p class="produkt__title">МАКЕТИ</p>
      </li>
      <li class="print__item icon-dekor">
        <div class="produkt">
          <picture>
            <source
              srcset="/src/images/pic/print/desktop-vase@1x.png 1x,
              /src/images/pic/print/desktop-vase@2x.png 2x"
              type="image/png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/src/images/pic/print/tablet-vase@1x.png 1x,
              /src/images/pic/print/tablet-vase@2x.png 2x"
              type="image/png"
              media="(min-width: 768px) and (max-width: 1439px)"
            />
            <source
              srcset="/src/images/pic/print/mobile-vase@1x.png 1x,
              /src/images/pic/print/mobile-vase@2x.png 2x"
              type="image/png"
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/pic/print/vase.png"
              alt="прототип"
            />
          </picture>
        </div>
        <p class="produkt__title">ДЕКОР</p>
      </li>
      <li class="print__item icon-3D-coub">
        <div class="produkt">
          <picture>
            <source
              srcset="/src/images/pic/print/desktop-figure@1x.png 1x,
              /src/images/pic/print/desktop-figure@2x.png 2x"
              type="image/png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/src/images/pic/print/tablet-figure@1x.png 1x,
              /src/images/pic/print/tablet-figure@2x.png 2x"
              type="image/png"
              media="(min-width: 768px) and (max-width: 1439px)"
            />
            <source
              srcset="/src/images/pic/print/mobile-figure@1x.png 1x,
              /src/images/pic/print/mobile-figure@2x.png 2x"
              type="image/png"
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/pic/print/figure.png"
              alt="прототип"
            />
          </picture>
        </div>
        <p class="produkt__title">КОРПОРАТИВНИЙ<br />ДИЗАЙН</p>
      </li>
    </ul>
  </div>
</section>
