<section class="print">
  <div class="container print-box">
    <div class="print-box__feature"></div>
    <h2 class="print__title">МИ СТВОРЮЄМО</h2>
    <ul class="print__list">
      <li class="print__item icon-pic">
        <img
          href="./index.html"
          class="img img-desktop"
          srcset="
            ./images/pic/print/desktop-detail@1x.png 240w,
            ./images/pic/print/desktop-detail@2x.png 2x 480w,
            ./images/pic/print/tablet-detail@1x.png  1x 107w,
            ./images/pic/print/tablet-detail@2x.png 2x 212w,
            ./images/pic/print/mobile-detail@1x.png  1x 90w,
            ./images/pic/print/mobile-detail@2x.png  2x 180w
          "
          src="./images/pic/print/mobile-detail@1x.png "
          alt="print"
          sizes="(min-width 1440px)480px, (min-width 768px) 212px, (min-width 480px) 180px"
        />
        <!-- <img
          href="./index.html"
          class="img"
          srcset="
            ./images/pic/print/pic-desktop-1x.jpg 240w 195w,
            ./images/pic/print/pic-desktop-2x.jpg 2x 480w 390w,
            ./images/pic/print/pic-tablet-1x.jpg  1x 107w 86w,
            ./images/pic/print/pic-tablet-2x.jpg  2x 212w 172w,
            ./images/pic/print/pic-mobile-1x.jpg  1x 90w 74w,
            ./images/pic/print/pic-mobile-2x.jpg  2x 180w 149w
          "
          src="./images/pic/print/pic-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1440px)240px, (min-width 768px) 107px, (min-width 480px) 90px"
        /> -->
        <div class="produkt">
          <p class="produkt__title">ПРОТОТИПИ</p>
        </div>
      </li>
      <li class="print__item icon-maket">
        <img
          href="./index.html"
          class="img img-maket"
          srcset="
            ./images/pic/print/desktop-model@1x.png 240w,
            ./images/pic/print/desktop-model@2x.png 2x 480w,
            ./images/pic/print/tablet-model@1x.png 1x 119w,
            ./images/pic/print/tablet-model@2x.png  2x 237w,
            ./images/pic/print/mobile-model@1z.png  1x 101w,
            ./images/pic/print/mobile-model@2x.png  2x 102w
          "
          src="./images/pic/print/maket-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1440px) 480px, (min-width 768px) 237px, (min-width 480px) 102px"
        />
        <div class="produkt">
          <p class="produkt__title">МАКЕТИ</p>
        </div>
      </li>
      <li class="print__item icon-dekor">
        <img
          href="./index.html"
          class="img"
          srcset="
            ./images/pic/print/desktop-vase@1x.png 1x 150w,
            ./images/pic/print/desktop-vase@2x.png 2x 299w,
            ./images/pic/print/tablet-vase@1x.png  1x 51w,
            ./images/pic/print/tablet-vase@2x.png 2x 102w,
            ./images/pic/print/mobile-vase@1x.png 1x 44w,
            ./images/pic/print/mobile-vase@2x.png  2x 87w
          "
          src="./images/pic/print/mobile-vase@1x.png"
          alt="print"
          sizes="(min-width 1440px) 299px, (min-width 768px) 102px, (min-width 480px)87px"
        />
        <div class="produkt">
          <p class="produkt__title">ДЕКОР</p>
        </div>
      </li>
      <li class="print__item icon-3D-coub">
        <img
          href="./index.html"
          class="img img-3D"
          srcset="
            ./images/pic/print/desktop-figure@1x.png 1x 240w,
            ./images/pic/print/desktop-figure@2x.png 2x 480w,
            ./images/pic/print/tablet-figure@1x.png  1x 99w,
            ./images/pic/print/tablet-figure@2x.png  2x 197w,
            ./images/pic/print/mobile-figure@1x.png  1x 85w,
            ./images/pic/print/mobile-figure@2x.png  2x 169w
          "
          src="./images/pic/print/3D-coub-mobile-1x.jpg"
          alt="print"
          sizes="(min-width 1440px) 480px, (min-width 768px) 197px, (min-width 480px) 196px"
        />
        <div class="produkt">
          <p class="produkt__title">КОРПОРАТИВНИЙ<br />ДИЗАЙН</p>
        </div>
      </li>
    </ul>
  </div>
</section>
