<section class="services">
  <h2 class="services__title visually-hidden">3D-ДРУК</h2>
  <div class="container services__box">
    <div class="services__rectangle__primary"></div>
    <div class="services__rectangle__secondary"></div>
    <div class="services__rectangle__third"></div>
    <div class="services__rectangle__fourth"></div>
    <ul class="services__list">
        <li class="services__container">
          <div class="services__item">
          <picture class="services__print">
            <source
              srcset="
                /src/images/pic/print/print-desktop-1x.jpg 1x,
                /src/images/pic/print/print-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/pic/print/print-tablet-1x.jpg 1x,
                /src/images/pic/print/print-tablet-2x.jpg 2x
              "
              media="(min-width 768px)"
            />
            <source
              srcset="
                /src/images/pic/print/print-mob-1x.jpg 1x,
                /src/images/pic/print/print-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/src/images/pic/print/print-tablet-1x.jpg" alt="print" />
          </picture>
          <div class="services__thumb">
            <p class="services__text">
              <span class="services__options">3D-ДРУК</span>
              - ми використовуємо FDM технологію друку. Вона представляє собою
              пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="services__text">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="services__text__end">
              3D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
            <a href="/src/order.html" class="button"> ЗРОБИТИ ЗАМОВЛЕННЯ </a>
          </div>
        </div>
        </li>
        <li class="services__container">
          <div class="services__item">
          <picture class="services__print">
            <source
              srcset="
                /src/images/pic/print/modeling-desktop-1x.jpg 1x,
                /src/images/pic/print/modeling-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/pic/print/modeling-tablet-1x.jpg 1x,
                /src/images/pic/print/modeling-tablet-2x.jpg 2x
              "
              media="(min-width 768px)"
            />
            <source
              srcset="
                /src/images/pic/print/modeling-mob-1x.jpg 1x,
                /src/images/pic/print/modeling-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/pic/print/modeling-tablet-1x.jpg"
              alt="modeling"
            />
          </picture>
            <div class="services__thumb">
              <p class="services__text">
              <span class="services__options">3D-МОДЕЛЮВАННЯ</span>
              - це процес розробки математичного уявлення будь-якої поверхні
              об'єкта в трьох вимірах за допомогою спеціалізованого програмного
              забезпечення.
              </p>
              <p class="services__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
              </p>
              <p class="services__text__end">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
              </p>
              <a href="/src/order.html" class="button"> ЗРОБИТИ ЗАМОВЛЕННЯ </a>
            </div>
          </div>
        </li>
        <li class="services__container services__item__end">
          <div class="services__item">
          <picture class="services__print">
            <source
              srcset="
                /src/images/pic/print/scaning-desktop-1x.jpg 1x,
                /src/images/pic/print/scaning-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/pic/print/scaning-tablet-1x.jpg 1x,
                /src/images/pic/print/scaning-tablet-2x.jpg 2x
              "
              media="(min-width 768px)"
            />
            <source
              srcset="
                /src/images/pic/print/scaning-mob-1x.jpg 1x,
                /src/images/pic/print/scaning-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/pic/print/scaning-tablet-1x.jpg"
              alt="scaning"
            />
          </picture>
            <div class="services__thumb">
              <p class="services__text">
              <span class="services__options">3D-СКАНУВАННЯ</span>
              - зняття даних, шляхом аналізу форми предмета і на основі
              отриманих даних створення її 3D-моделі.
              </p>
              <p class="services__text__end">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
              </p>
              <a href="/src/order.html" class="button"> ЗРОБИТИ ЗАМОВЛЕННЯ </a>
            </div>
          </div>
        </li>
    </ul>
  </div>
</section>
