<section class="scanning-process">
  <div class="scanning-process__container container">
    <h2 class="scanning-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scanning-process__list list">
      <li class="scanning-process__item">
        <h3 class="scanning-process__item-tittle">
          Підготовка деталі до сканування
        </h3>
      </li>
      <li class="scanning-process__item">
        <h3 class="scanning-process__item-tittle">
          Створення сканів і їх обробка
        </h3>
      </li>
      <li class="scanning-process__item">
        <h3 class="scanning-process__item-tittle">
          Перетворення reverse engineering
        </h3>
      </li>
      <li class="scanning-process__item">
        <h3 class="scanning-process__item-tittle">
          Підготовка моделі до друку
        </h3>
      </li>
    </ul>
    <div class="petal-left"></div>
    <div class="petal-right"></div>
    <div class="petal-bot"></div>
    <a href="/src/order.html" class="scanning-process__button button"
      >ЗРОБИТИ ЗАМОВЛЕННЯ</a
    >
  </div>
</section>
