<section class="scan-section">
  <div class="scan-container container">
    <h2 class="scan-title title">3D сканування</h2>
    <div class="scanning">
      <div class="scanning__wrapper">
        <p class="scanning__content">
          Процес створення 3D моделі по вже існуючій деталі може займати
          тривалий час. У деяких випадках процесс може займати багато годин. Але
          якщо виріб має складну геометрію і криволінійні поверхні, то велика
          ймовірність що перенести об'єкт в тривимірну цифрову модель може бути
          неможливо.
        </p>
      </div>

      <div class="scanning__wrapper">
        <p class="scanning__content">
          У такому випадку застосовуэться технологія 3D сканування. Цей метод
          оцифровки об'єктів дозволяє в короткі терміни отримати тривимірну
          модель деталі з потрібною точністю. Якщо від сканування потрібна
          проста комп'ютерна візуалізація, то допустима похибка сканування менше
          2%.
        </p>
      </div>
      <div class="scanning__wrapper scanning__wrapper--position">
        <p class="scanning__content">
          Якщо потрібно сканування деталей з максимальною точністю, то
          використовуються спеціальні технології і постобробка отриманих сканів
          фахівцем.
        </p>
      </div>
    </div>
    <div class="scan-picture"></div>
    <div class="bg-element1"></div>
    <div class="bg-element2"></div>
    <div class="bg-element3"></div>
    <div class="bg-element4"></div>
  </div>
</section>
