// @import '~node_modules/modern-normalize/modern-normalize.css';

/* Сброс марджинов для абзацев и заголовков */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Доп. класс для снятия дефолтных подчеркиваний со ссылок */
.link {
  text-decoration: none;
}

/* Доп. класс для удаления точек, марджинов и паддингов у элементов списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
textarea {
  outline: none;
  text-decoration: none;
}

body {
  font-style: normal;
  // Временный цвет для добавления контрастности
  // background-color: #DCE1F0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: scroll;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

// этот миксин нужно удалить из всех мест где он применяется---
@mixin titleFonts($fs) {
  font-weight: 700;
  font-size: $fs;
  line-height: 1.25;
  color: $main-font-color;
  text-transform: uppercase;
}
// -----------------------------------

.title {
  @include titleFonts(24px);
  @media screen and (min-width: $tablet) {
    font-size: 36px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}

.sub-title {
  @include titleFonts(18px);
  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

a {
  text-decoration: none;
}

/* Шрифт по умолчанию */
.page {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $second-font-color;
}

/* Сброс стилей кнопок */
button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

@keyframes loadSvg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
