@mixin trans() {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin titleFonts($fs) {
  font-weight: 700;
  font-size: $fs;
  line-height: 1.25;
  color: $main-font-color;
  text-transform: uppercase;
}

@mixin mobile {
  @media screen and (min-width:480) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width:768) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width:1440) {
    @content;
  }
}