/* Сброс марджинов для абзацев и заголовков */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Доп. класс для снятия дефолтных подчеркиваний со ссылок */
.link {
  text-decoration: none
}

/* Доп. класс для удаления точек, марджинов и паддингов у элементов списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 0;
}

a, button, input, textarea {
  outline: none;
}

// body {

// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}
