// colors
$main-font-color: #487996;
$second-font-color: #2B2B2B;
$main-bg-color: #E5E5E5;
$footer-bg-color: #F5F5FA;
$effects-bg-color: #FFFFFF;
$box-shadow-color: 20px 20px 80px rgba(0, 0, 0, 0.1);

// shadows
$box-shadow-color: 20px 20px 80px rgba(0, 0, 0, 0.1);
$scanning-creating-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;

// cubic-bezier
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$fontCeraPro: 'Cera Pro';
$fontCaviarDreams: 'Caviar Dreams';

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1440px;