// colors
$main-font-color: #487996;
$second-font-color: #2b2b2b;
$main-bg-color: #ffffff;
$footer-bg-color: #f5f5fa;
$effects-bg-color: #ffffff;
$svg-color: #008cff;
$lang-color: #bdbdbd;
$placeholder-color: #cdcdcd;

// shadows
$box-shadow-color: 20px 20px 80px rgba(0, 0, 0, 0.1);
$scanning-creating-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
  inset -1px -1px 16px #ffffff;
$drop-shadow-color: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
$img-drop-shadow-color: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));

// cubic-bezier
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$fontCeraPro: 'Cera Pro';
$fontCaviarDreams: 'Caviar Dreams';

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1440px;


