.print {
    position: relative;
     margin-bottom: 35px;
}

.print__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    color: #487996;
    // font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
}

.print__item {
    // display: grid;
    // gap: 20px;
    // grid-template-columns: ;
    display: flex;
    justify-content: center;
    // content: "";
    width: 130px;
    // height: 100%;
    // margin-bottom: 20px;
padding: 27px 23px 56px 17px;
background-color: #FFFFFF;
    background-size: 90px 74px;
    opacity: 0.8;
    box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
    border-radius: 50px 0px;
}

// .icon::before {
//     background-image: url(//src/images/svg/examples.svg);
// }

// .img {
//     width: 90px;
//     height: 74px;  
       
// }
.produkt {
    position: absolute;
    width: 100%;
    margin-bottom: 27px;
}


.produkt__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
// font-family: 'Cera Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #487996;

text-align: center;
text-transform: uppercase;
}