.print {
  // padding-top: 32px;
  // padding-bottom: 35px;
  // position: relative;
  // @media screen and (min-width: $tablet) {
  //   padding-bottom: 40px;
  // }
  // @media screen and (min-width: $desktop) {
  //   padding-top: 100px;
  //   padding-bottom: 100px;
  // }
  @media (max-width: 767px) {
    padding-top: 18px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 46px;
  }
}

.print-box {
  // position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 45px;
    padding-bottom: 100px;
  }
}

.decor {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    position: absolute;
    width: 71.41px;
    height: 63.79px;
    right: 32px;
    top: 8.42px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
  }
  @media screen and (min-width: $desktop) {
    width: 137px;
    height: 83px;
    top: 6.71px;
    border-radius: 0px 0px 0px 72px;
  }
}

.decor--second {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    width: 82px;
    height: 78px;
    top: 44;
    background: #ffffff;
    left: 35px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
  }
}

.print__title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #487996;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.28;
    justify-content: left;
    font-size: 36px;
    line-height: 1.25;
  }
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.27;
    justify-content: left;
    margin-left: 149px;
    // margin-left: 117px;
    font-size: 48px;
    line-height: 1.25;
  }
}

.print__list {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 20px;
  // margin-left: auto;
  // margin-right: auto;
  // @media screen and (max-width: 767px) {
  //   width: 280px;
  // }
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (max-width: 767px) {
    align-self: center;
    width: 280px;
  }
  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 24px;
  }
}

.print__item {
  // width: 130px;
  // background-color: #FFFFFF;
  // background-size: 90px 74px;
  // opacity: 0.8;
  // box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
  // border-radius: 50px 0px;
  // @media screen and (min-width: $tablet) {
  //   width: 152px;
  // }
  // @media screen and (min-width: $desktop) {
  //   width: 320px;
  // }
  padding-top: 24px;
  gap: 9px;
  width: 130px;
  height: 158px;
  flex-direction: column;
  align-items: center;
  display: flex;
  background: #ffffff;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  @media screen and (min-width: $tablet) {
    padding-top: 27px;
    gap: 10px;
    width: calc((100% - 32px) / 4);
    height: 182px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 40px;
    gap: 20px;
    height: 382px;
  }
}

.produkt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  @media screen and (min-width: $tablet) {
    height: 98px;
  }
  @media screen and (min-width: $desktop) {
    height: 240px;
  }
}

.produkt__title {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-style: normal;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 18px;
  // text-align: center;
  // color: #487996;
  // text-align: center;
  // text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #487996;
  @media screen and (min-width: $desktop) {
    width: 160px;
    font-size: 18px;
    line-height: 1.27;
  }
}

// .icon-pic {
//   padding: 27px 23px 27px 17px;
//   @media screen and (min-width: $tablet) {
//     padding: 31px 27px 32px 20px;
//   }
//   @media screen and (min-width: $desktop) {
//     padding: 63px 40px 51px 40px;
//   }
// }

// .icon-maket {
//   padding: 38px 12px 27px 17px;
//   @media screen and (min-width: $tablet) {
//     padding: 44px 14px 31px 20px;
//   }
//   @media screen and (min-width: $desktop) {
//       padding: 84px 40px 52px 40px;
//   }
// }

// .icon-dekor {
//   padding: 31px 43px 27px 44px;
//   @media screen and (min-width: $tablet) {
//     padding: 36px 50px 32px 50px;
//   }
//   @media screen and (min-width: $desktop) {
//     padding: 40px 85px 52px 85px;
//   }
// }

// .icon-3D-coub {
//   padding: 24px 23px 10px 23px;
//   @media screen and (min-width: $tablet) {
//     padding: 27px 27px 18px 27px;
//   }
//   @media screen and (min-width: $desktop) {
//       padding: 40px 40px 23px 40px;
//   }
// }

// .img {
//   margin-bottom: 17px;
//   @media screen and (min-width: $tablet) {
//     margin-bottom: 19px;
//   }
//   @media screen and (min-width: $tablet) {
//     width: 100%;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 100%;
//     margin-bottom: 21px;
//   }
// }
// .img-desktop {
//   @media screen and (min-width: $desktop) {
//     margin-bottom: 43px;
//   }
// }

// .img-maket {
//   @media screen and (min-width: $desktop) {
//     margin-bottom: 65px;
//   }
// }

// .img-3D {
//   margin-bottom: 9px;
//   @media screen and (min-width: $tablet) {
//     margin-bottom: 10px;
//   }
//   @media screen and (min-width: $desktop) {
//     margin-bottom: 20px;
//   }
// }
