p, ul, h1, h2, h3{
  padding: 0;
  margin: 0;
  list-style: none;
}
    
img{
  display: block;
  max-width: 100%;
  height: auto;
}
    
.link{
  list-style: none;
  text-decoration: none;
}

.services__box{
  position: relative;}  

.services__container {
  margin-bottom: 55px;  
}

.services__title{
  align-items: center;
  display: flex;
  justify-content: center;
}

.services__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.services__print{
  margin-bottom: 23px;
  border-radius: 55px 0;
}

.services__modeling{
  margin-bottom: 23px;
  border-radius: 60px 0;
}

.services__scaning{
  margin-bottom: 23px;
  border-radius: 58px 0;
}

.services__options{
  font-weight: 700;
  color: $main-font-color;
}
    
.services__text{
  margin-bottom: 16px;
  font-family: $fontCeraPro;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $second-font-color;
}
  
.services__text__end{
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $second-font-color;
}
  
  
.button{
  cursor: pointer;
  background: $footer-bg-color;
  box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #FFFFFF;
  border-radius: 30.5px;
  padding: 16px 32px;
  font-weight: 700;
  font-family: $fontCeraPro;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  color: $main-font-color;
  width: 280px;
}

.services__rectangle__primary{
  position: absolute;
  right: -25px;
  top: 548px;
  width: 73px;
  height: 73px;
  color: $effects-bg-color;
  border-radius: 0 25;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

.services__rectangle__secondary{
  position: absolute;
  top: 585px;
  left: -20px;
  width: 73px;
  height: 73px;
  color: $effects-bg-color;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;
}

.services__rectangle__third{
  position: absolute;
  top: 105px;
  right: -20px;
  width: 73px;
  height: 73px;
  color: $effects-bg-color;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.services__rectangle__fourth{
  position: absolute;
  top: 163px;
  left: -20px;
  width: 73px;
  height: 73px;
  color: $effects-bg-color;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
}