<div class="contacts-container container">
  <section class="contacts-form-section">
    <form action="#" class="contacts-form">
      <h2 class="contacts-form__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
      <div class="contacts-form__field">
        <label class="contacts-form__label" for="user-name">Ім’я</label>
        <div class="contacts-form__wrap">
          <input
            type="text"
            class="contacts-form__input"
            name="user-name"
            placeholder="Олексій"
            id="user-name"
            required
          />
        </div>
      </div>
      <div class="contacts-form__field">
        <label class="contacts-form__label" for="label-form"></label>
        <input
          type="email"
          class="contacts-form__input"
          name="user-email"
          placeholder="Email"
          id="user-email"
          required
        />
      </div>

      <div class="contacts-form__field">
        <label class="contacts-form__comment-label"
          >Повідомлення
          <textarea
            name="user-text"
            class="contacts-form__comment-text"
            placeholder="Залишіть своє повідомлення"
          ></textarea>
        </label>
        <svg class="contacts-form__icon-attach" width="23.71px" height="20">
          <use href="./images/pic/order/order-sprint.svg#icon-paper-clip"></use>
        </svg>
        <p class="contacts-form__text">
          *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
        </p>
      </div>
      <button type="submit" class="contacts-form__btn button">
        ВІДПРАВИТИ
      </button>
    </form>
  </section>
  <section class="contacts section">
    <div class="contacts__container">
      <ul class="contacts__list">
        <li class="contacts__item list">
          <h2 class="sub-title">ТЕЛЕФОНИ</h2>
          <ul class="contacts__item-list">
            <li class="list">
              <a class="connects__phone link" href="tel:+380657384551">
                +38 (095) -73-84-551</a
              >
            </li>
            <li class="list">
              <a class="connects__phone link" href="tel:+380980025235">
                +38 (098) -00-25-235</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item list">
          <h2 class="sub-title">Email</h2>

          <a class="connects__mail link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com
          </a>
        </li>
        <li class="contacts__item list">
          <h2 class="sub-title">Робочий час</h2>
          <ul class="contacts__item-list">
            <li class="list">Пн-пт: з 8:00 до 19:00</li>
            <li class="list">Сб, Нд: з 10:00 до 17:00</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>
