<div class="content-order container content-order-new">
  <section class="contact section contact-new">
    <div class="container__figure-seven"></div>
    <h2 class="feedback__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
    <form class="feedback feedback-contacts">
      <div class="feedback__field-new">
        <label class="feedback__label" for="user-name"></label>
        <div class="feedback__wrap">
          <input
            type="text"
            class="feedback__input"
            name="user-name"
            id="user-name"
            placeholder="Ім'я"
            autofocus
            required
          />
        </div>
      </div>
      <div class="feedback__field feedback__field-new">
        <label class="feedback__label" for="user-email"></label>
        <input
          type="email"
          class="feedback__input"
          name="user-email"
          id="user-email"
          placeholder="Email"
          required
        />
      </div>
      <div class="feedback__field feedback__field-new">
        <label class="feedback__label" for="comment-text">Повідомлення</label>
        <textarea
          class="feedback__text"
          name="comment-text"
          id="comment-text"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
        <label class="feedback__upload">
          <input type="file" />
          <svg class="icon-paper-clip" width="24px" height="20">
            <use
              href="./images/pic/order/order-sprint.svg#icon-paper-clip"
            ></use>
          </svg>
        </label>
        <p class="feedback__upload-text bord">
          *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
        </p>
      </div>
      <button class="button feedback__button" type="submit">Відправити</button>
    </form>
  </section>
  <section class="contacts contacts-new">
    <div class="contacts__container contacts__container-new">
      <ul class="contacts__list contacts__list-new">
        <li class="contacts__item list contacts__item-new">
          <h2 class="contacts__title tool">ТЕЛЕФОНИ</h2>
          <ul class="contacts__item-list contacts__item-list-new">
            <li class="list">
              <a class="contacts__phone link" href="tel:+380657384551">
                +38 (095) -73-84-551</a
              >
            </li>
            <li class="list">
              <a class="contacts__phone link" href="tel:+380980025235">
                +38 (098) -00-25-235</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item list contacts__item-new">
          <h2 class="contacts__title">Email</h2>
          <a class="contacts__mail link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com
          </a>
        </li>
      </ul>
      <div class="contacts__time">
        <h2 class="contacts__title contacts__title-new">Робочий час</h2>
        <ul class="contacts__time-list contacts__time-list-new">
          <li class="time-item list">Пн-пт:</li>
          <li class="time-item list">з 8:00 до 19:00</li>
          <li class="time-item list">Сб, Нд:</li>
          <li class="time-item list">з 10:00 до 17:00</li>
        </ul>
      </div>
    </div>
  </section>
</div>
