<div class="container contacts-hero"></div>
   <section class="hero-contacts">
      <div class="hero-contacts-vid">
         <h1 class="contacts-hero__title">КОНТАКТИ</h1>
         <iframe
            src="https://www.youtube.com/embed/soFml9tFwwY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-writ  encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
         ></iframe>
      </div>
      <div class="contacts-hero__text">
         <p class="contacts-hero__text-top">
               Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
               процесом не на десяток хвилин.
         </p>
         <p class="contacts-hero__text-middle">
               Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
               друку і просто помилуватися красою цього процесу.
         </p>
         <p class="contacts-hero__text-bottom">
               Приємного перегляду! <img src="./images/emoji.png" alt="#" />
         </p>
      </div>
   </section>
</div>
