<section class="hero-contacts section">
  <h1 class="contacts-hero__title order__title">КОНТАКТИ</h1>
  <div class="contacts-hero__wrap">
    <div class="contacts-hero__iframe">
      <div class="contacts-hero__img">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./images/pic/contacts/contacts-desktop.jpg,
              ./images/pic/contacts/contacts-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            type="image/webp"
            srcset="
              ./images/pic/contacts/contacts-tablet.jpg    1x,
              ./images/pic/contacts/contacts-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ./images/pic/contacts/contacts-mob.jpg    1x,
              ./images/pic/contacts/contacts-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="contact-hero__picture"
            src="images/pic/contacts/contacts-desktop.jpg"
            alt="фото"
            width="555"
            height="315"
          />
        </picture>
        <button class="play-button">
          <span class="icon-spot"></span>
          <svg class="contacts-hero__icon" width="29" height="29">
            <use href="./images/svg/contacts/symbol-defs.svg#icon-play"></use>
          </svg>
        </button>
      </div>
      <div class="container-icon"></div>
      <!-- <iframe
				width="555"
				src="https://www.youtube.com/embed/soFml9tFwwY"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
			>
			</iframe> -->
    </div>
    <div class="contacts-hero__text-thumb">
      <p class="contacts-hero__text">
        Людина уперше побачивши процес 3D друку може легко захопитися
        спостереженням за цим процесом не на десяток хвилин.
      </p>
      <p class="contacts-hero__text">
        Наша команда створює timelapse відео що б ви могли краще ознайомитися з
        технологією 3D друку і просто помилуватися красою цього процесу.
      </p>
      <div class="smile">
        <p class="contacts-hero__text-smile">Приємного перегляду!</p>
        <img
          class="hero__text-smile"
          src="./images/pic/contacts/emoji.png"
          alt="смайл"
        />
      </div>
    </div>
  </div>
</section>
