<div class="cont-order">
  <section class="contact">
    <form class="feedback">
      <h2 class="feedback__title sub-title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
      <div class="feedback__field">
        <label class="feedback__label" for="user-name"></label>
        <div class="feedback__wrap">
          <input
            type="text"
            class="feedback__input"
            name="user-name"
            id="user-name"
            placeholder="Ім'я"
            autofocus
            required
          />
        </div>
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="user-email"></label>
        <input
          type="email"
          class="feedback__input"
          name="user-email"
          id="user-email"
          placeholder="Email"
          required
        />
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="plastic-label">
          Види пластика</label
        >
        <select class="feedback__input" id="plastic-types" name="type">
          <option value="PLA">PLA (ПЛА)</option>
          <option value="ABS">ABS (АБС)</option>
          <option value="PVA">PVA (ПВА)</option>
          <option value="Nyl">Nylone (Нейлон)</option>
          <option value="HIP">HIPS (Полістирол)</option>
        </select>
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="plastic-size">Якість друку</label>
        <select class="feedback__input" id="plastic-size" name="size">
          <option value="300">300 мікрон</option>
          <option value="200">200 мікрон</option>
          <option value="100">100 мікрон</option>
          <option value="help">Труднощі у виборі - ми допоможемо</option>
        </select>
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="plastic-color">Колір</label>
        <select class="feedback__input" id="plastic-color" name="color">
          <option value="red">Червони</option>
          <option value="blue">Блакитний</option>
          <option value="grean">Зелений</option>
          <option value="orange">Помаранчемий</option>
          <option value="grey">Сірий</option>
        </select>
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="comment-text">Повідомлення</label>
        <textarea
          class="feedback__text"
          name="comment-text"
          id="comment-text"
          placeholder="Залишіть своє повідомлення"
        ></textarea>

        <label class="feedback__upload">
          <input type="file" />
          <svg class="icon-paper-clip" width="23.71px" height="20">
            <use
              href="./images/pic/order/order-sprint.svg#icon-paper-clip"
            ></use>
          </svg>
          <p class="feedback__upload-text">
            *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
          </p>
        </label>
      </div>
      <button class="button feedback__button" type="submit">Відправити</button>
    </form>
  </section>

  <section class="contacts section">
    <div class="contacts__container">
      <ul class="contacts__list">
        <li class="contacts__item list">
          <h2 class="sub-title">ТЕЛЕФОНИ</h2>
          <ul class="contacts__item-list">
            <li class="list">
              <a class="connects__phone link" href="tel:+380657384551">
                +38 (095) -73-84-551</a
              >
            </li>
            <li class="list">
              <a class="connects__phone link" href="tel:+380980025235">
                +38 (098) -00-25-235</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item list">
          <h2 class="sub-title">Email</h2>

          <a class="connects__mail link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com
          </a>
        </li>
        <li class="contacts__item list">
          <h2 class="sub-title">Робочий час</h2>
          <ul class="contacts__item-list">
            <li class="list">Пн-пт: з 8:00 до 19:00</li>
            <li class="list">Сб, Нд: з 10:00 до 17:00</li>
          </ul>
        </li>
      </ul>
      <div class="mosaics">
        <picture>
          <source
            srcset="
              ./images/pic/order/3-order-mosaics-img-desktop-1x.jpg 1x,
              ./images/pic/order/3-order-mosaics-img-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="./images/pic/order/3-order-mosaics-img-desktop-1x.jpg"
            alt=""
            class="img"
          />
        </picture>
        <!-- </picture>
    <picture class="mosaics__img">
      <source
        srcset="
          ./images/pic/order/goup33.png 1x,
          ./images/pic/order/goup33.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img src="./images/pic/order/goup33.png" alt="" class="img" />
    </picture> -->

        <!-- <ul class="mosaics__list">
        <li class="mosaics__item list">1</li>
        <li class="mosaics__item list">2</li>
        <li class="mosaics__item list">3</li>
        <li class="mosaics__item list">4</li>
        <li class="mosaics__item list">5</li>
        <li class="mosaics__item list">6</li>
      </ul> -->
      </div>
    </div>
  </section>
</div>
