<div class="content-order container">
  <section class="contact section">
    <div class="container__figure-seven"></div>
    <h2 class="feedback__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
    <form class="feedback">
      <div class="feedback__field">
        <label class="feedback__label" for="user-name"></label>
        <div class="feedback__wrap">
          <input
            type="text"
            class="feedback__input"
            name="user-name"
            id="user-name"
            placeholder="Ім'я"
            autofocus
            required
          />
        </div>
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="user-email"></label>
        <input
          type="email"
          class="feedback__input"
          name="user-email"
          id="user-email"
          placeholder="Email"
          required
        />
      </div>

      <div class="feedback__field custom-select">
        <select class="feedback__input" id="plastic-types" name="type">
          <option value="0">Види пластика</option>
          <option value="PLA">PLA (ПЛА)</option>
          <option value="ABS">ABS (АБС)</option>
          <option value="PVA">PVA (ПВА)</option>
          <option value="NYL">Nylone (Нейлон)</option>
          <option value="HIP">HIPS (Полістирол)</option>
        </select>
      </div>
      <div class="feedback__field custom-select">
        <select class="feedback__input" id="plastic-size" name="type">
          <option value="0">Якість друку</option>
          <option value="300">300 мікрон</option>
          <option value="200">200 мікрон</option>
          <option value="100">100 мікрон</option>
          <option value="help">Труднощі у виборі - ми допоможемо</option>
        </select>
      </div>
      <div class="feedback__field custom-select">
        <select class="feedback__input" id="plastic-color" name="color">
          <option value="0">Колір</option>
          <option value="red">Червоний</option>
          <option value="blue">Блакитний</option>
          <option value="grean">Зелений</option>
          <option value="orange">Помаранчемий</option>
          <option value="grey">Сірий</option>
        </select>
      </div>
      <div class="feedback__field">
        <label class="feedback__label" for="comment-text">Повідомлення</label>
        <textarea
          class="feedback__text"
          name="comment-text"
          id="comment-text"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
        <label class="feedback__upload">
          <input type="file" />
          <svg class="icon-paper-clip" width="24px" height="20">
            <use
              href="./images/pic/order/order-sprint.svg#icon-paper-clip"
            ></use>
          </svg>
        </label>
        <p class="feedback__upload-text">
          *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
        </p>
      </div>
      <button class="button feedback__button" type="submit">Відправити</button>
    </form>
  </section>
  <section class="contacts">
    <div class="contacts__container">
      <ul class="contacts__list">
        <li class="contacts__item list">
          <h2 class="contacts__title">ТЕЛЕФОНИ</h2>
          <ul class="contacts__item-list">
            <li class="list">
              <a class="contacts__phone link" href="tel:+380657384551">
                +38 (095) -73-84-551</a
              >
            </li>
            <li class="list">
              <a class="contacts__phone link" href="tel:+380980025235">
                +38 (098) -00-25-235</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item list">
          <h2 class="contacts__title">Email</h2>
          <a class="contacts__mail link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com
          </a>
        </li>
      </ul>
      <div class="contacts__time">
        <h2 class="contacts__title">Робочий час</h2>
        <ul class="contacts__time-list">
          <li class="time-item list">Пн-пт:</li>
          <li class="time-item list">з 8:00 до 19:00</li>
          <li class="time-item list">Сб, Нд:</li>
          <li class="time-item list">з 10:00 до 17:00</li>
        </ul>
      </div>
      <div class="mosaics">
        <div class="mosaics__img mosaics__img-one"></div>
        <div class="mosaics__img mosaics__img-two"></div>
        <div class="mosaics__img mosaics__img-three"></div>
        <div class="mosaics__img mosaics__img-four"></div>
        <div class="mosaics__img mosaics__img-five"></div>
        <div class="mosaics__img mosaics__img-six"></div>
      </div>
    </div>
  </section>
</div>
