<section class="order section">
  <div class="order__container">
    <div class="order__figure-one"></div>
    <div class="order__figure-two"></div>
    <h1 class="order__title title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <div class="order__content">
      <div>
        <picture class="order__picture">
          <source
            srcset="
              ./images/pic/order/1-order-img-desktop-1x.jpg 1x,
              ./images/pic/order/1-order-img-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/pic/order/1-order-img-tablet-1x.jpg 1x,
              ./images/pic/order/1-order-img-tablet-1x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/pic/order/1-order-img-mobile-1x.jpg 1x,
              ./images/pic/order/1-order-img-mobile-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/pic/order/1-order-img-desktop-1x.jpg"
            alt="Куб"
            class="order__picture"
          />
        </picture>
      </div>
      <div class="order__box">
        <div class="order__text">
          <p>
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося з вами.
          </p>
          <p>
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і
            дадуть відповідь на всі ваші запитання.
          </p>
        </div>
        <div class="order__img">
          <ul class="order__list">
            <li class="order__item list">
              <picture class="order__list-img">
                <source
                  srcset="
                    ./images/pic/order/2-order-car-img-desktop-1x.jpg 1x,
                    ./images/pic/order/2-order-car-img-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  src="./images/pic/order/2-order-car-img-desktop-1x.jpg"
                  alt="Product
                  Designer"
                  class="order__img-first"
                />
              </picture>
            </li>
            <li class="order__item list">
              <picture class="order__list-img">
                <source
                  srcset="
                    ./images/pic/order/2-order-model-img-desktop-1x.jpg 1x,
                    ./images/pic/order/2-order-model-img-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  src="./images/pic/order/2-order-model-img-desktop-1x.jpg"
                  alt="Product
                  Designer"
                  class="order__img-second"
                />
              </picture>
            </li>
            <li class="order__item list">
              <picture>
                <source
                  srcset="
                    ./images/pic/order/2-order-mushroom-lamp-img-desktop-1x.jpg 1x,
                    ./images/pic/order/2-order-mushroom-lamp-img-desktop-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  src="./images/pic/order/2-order-mushroom-lamp-img-desktop-1x.jpg"
                  alt="Product
                  Designer"
                  class="order__img-three"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
