<section class="order">
  <div class="order__container">
    <h1 class="order__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <div class="order__figure-one"></div>
    <div class="order__figure-two"></div>
    <div class="order__figure-three"></div>
    <div class="order__figure-four"></div>
    <div class="order__figure-five"></div>
    <div class="order__figure-six"></div>
    <div class="order__content">
      <div class="order__picture"></div>
      <div class="order__box">
        <div class="order__text">
          <p>
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося з вами.
          </p>
          <p>
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і
            дадуть відповідь на всі ваші запитання.
          </p>
        </div>
        <div class="order__box-two">
          <ul class="order__list order__img">
            <li class="order__item order__img-one list"></li>
            <li class="order__item order__img-two list"></li>
            <li class="order__item order__img-three list"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
