<!-- <footer class="footer">
  <div class="footer__container">
    <div class="footer__logo"></div>
    <ul class="footer__list-nav">
      <li class="footer__item-nav">Головна</li>
      <li class="footer__item-nav">3D Моделювання</li>
      <li class="footer__item-nav">3D Сканування</li>
      <li class="footer__item-nav">3D Друк</li>
      <li class="footer__item-nav">Замовити</li>
      <li class="footer__item-nav">Контакти</li>
    </ul>
    <ul class="footer__social">
      <li class="footer__item-soc">Instagram</li>
      <li class="footer__item-soc">YouTobe</li>
      <li class="footer__item-soc">Facebook</li>
    </ul>
    <ul class="footer__list-cont">
      <li class="footer__post">
        <p class="">Email</p>
        <a class="footer__mail" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </li>
      <li class="footer__mobile">
        <p class="footer__phone">Телефони</p>
        <ul class="footer__list-numb">
          <li class="footer__item-numb">
            <a class="footer__tel" href="tel:+380936432288"
              >+38 (093) 643 22 88</a
            >
          </li>
          <li class="footer__item-numb">
            <a class="footer__tel" href="tel:+380503454423"
              >+38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer> -->
