<header class="header">
  <a class="header__logo logo-link" href="./index.html">
    <img
      srcset="
        ./images/header/3d-freedom-1x.png 1x,
        ./images/header/3d-freedom-2x.png 2x
      "
      src="./images/header/3d-freedom-1x.png"
      alt="3DFREEDOM"
    />
  </a>
  <div class="header__element-left"></div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" href="./index.html">Головна</a>
      </li>
      <li class="header__nav-item header__drop-menu">
        <button type="button" class="header__nav-link header__nav-btn">
          Послуги
          <svg class="header__drop-icon" width="10" height="4">
            <use href="./images/header/symbol-defs.svg#icon-polygon"></use>
          </svg>
        </button>
        <div class="header__drop-container">
          <a class="header__drop-link" href="./modeling.html">3D Моделювання</a>
          <a class="header__drop-link" href="./scanning.html">3D Сканування</a>
          <a class="header__drop-link" href="./print.html">3D Друк</a>
        </div>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./order.html">Замовити</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./contacts.html">Контакти</a>
      </li>
    </ul>
  </nav>
  <div class="header__element-right">
    <a class="header__element-right-link" href="#">ENG</a>
  </div>
  <ul class="header__contact-list">
    <li class="header__contact-item">
      <a
        class="header__contact-link header__contact-link-top"
        href="tel:+380936432288"
      >
        <svg class="header__contact-icon" width="14" height="14">
          <use href="./images/header/symbol-defs.svg#icon-call"></use>
        </svg>
        <span class="header__contact-text">+38 (093) 643 22 88</span></a
      >
    </li>
    <li class="header__contact-item">
      <a
        class="header__contact-link header__contact-link-bottom"
        href="tel:+380503454423"
      >
        <svg class="header__contact-icon" width="14" height="14">
          <use href="./images/header/symbol-defs.svg#icon-call"></use>
        </svg>
        <span class="header__contact-text">+38 (050) 345 44 23</span></a
      >
    </li>
  </ul>
</header>
