<header class="header">
  <div class="header__box container">
    <a class="header__logo logo-link" href="./index.html">
      <img
        srcset="
          ./images/header/3d-freedom-1x.png 1x,
          ./images/header/3d-freedom-2x.png 2x
        "
        src="./images/header/3d-freedom-1x.png"
        alt="3DFREEDOM"
      />
    </a>
    <button
      class="header__btn-hidden header__mob-menu-open-button js-open-menu"
      type="button"
      name="open"
    >
      <svg class="header__mob-menu-open-icon" width="32" height="18">
        <use href="./images/header/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="./index.html"
            ><span class="header__nav-link-text">Головна</span></a
          >
        </li>
        <li class="header__nav-item header__drop-menu">
          <button type="button" class="header__nav-btn">
            Послуги
            <svg class="header__drop-icon" width="10" height="4">
              <use href="./images/header/symbol-defs.svg#icon-polygon"></use>
            </svg>
          </button>
          <div class="header__drop-container">
            <a class="header__drop-link" href="./modeling.html"
              ><span class="header__nav-link-text">3D Моделювання</span></a
            >
            <a class="header__drop-link" href="./scanning.html"
              ><span class="header__nav-link-text">3D Сканування</span></a
            >
            <a class="header__drop-link" href="./print.html"
              ><span class="header__nav-link-text">3D Друк</span></a
            >
          </div>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="./order.html"
            ><span class="header__nav-link-text">Замовити</span></a
          >
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="./contacts.html"
            ><span class="header__nav-link-text">Контакти</span></a
          >
        </li>
      </ul>
    </nav>

    <ul class="header__contact-list">
      <li class="header__contact-item">
        <a
          class="header__contact-link header__contact-link-top"
          href="tel:+380936432288"
        >
          <svg class="header__contact-icon" width="14" height="14">
            <use href="./images/header/symbol-defs.svg#icon-call"></use>
          </svg>
          <span class="header__contact-text">+38 (093) 643 22 88</span></a
        >
      </li>
      <li class="header__contact-item">
        <a
          class="header__contact-link header__contact-link-bottom"
          href="tel:+380503454423"
        >
          <svg class="header__contact-icon" width="14" height="14">
            <use href="./images/header/symbol-defs.svg#icon-call"></use>
          </svg>
          <span class="header__contact-text">+38 (050) 345 44 23</span></a
        >
      </li>
    </ul>
    <div class="header__mob-link-container">
      <button
        class="header__mob-contact-open-button"
        type="button"
        name="contacts"
      >
        <svg class="header__mob-contact-open-icon" width="18" height="18">
          <use href="./images/header/symbol-defs.svg#icon-call"></use>
        </svg>
      </button>
      <p class="header__speech">
        <a class="header__speech-first-tel" href="tel:+380936432288"
          >+38 (093) 643 22 88</a
        >
        <a class="header__speech-second-tel" href="tel:+380503454423"
          >+38 (050) 345 44 23</a
        >
      </p>
      <input
        class="header__mob-radio-ch header__hidden"
        type="radio"
        id="mob-lang-eng"
        name="lang-mob"
        value="eng"
      />
      <label class="header__mob-radio-ch-label" for="mob-lang-eng">ENG</label>

      <input
        class="header__mob-radio-ch header__hidden"
        type="radio"
        id="mob-lang-ua"
        name="lang-mob"
        value="ua"
        checked
      />
      <label class="header__mob-radio-ch-label" for="mob-lang-ua">UA</label>
    </div>
    <div class="header__element-first"></div>
    <div class="header__element-left"></div>
    <div class="header__element-right">
      <input
        class="header__radio-ch header__hidden"
        type="radio"
        id="lang-eng"
        name="lang"
        value="eng"
      />
      <label class="header__radio-ch-label" for="lang-eng">ENG</label>

      <input
        class="header__radio-ch header__hidden"
        type="radio"
        id="lang-ua"
        name="lang"
        value="ua"
        checked
      />
      <label class="header__radio-ch-label" for="lang-ua">UA</label>
    </div>
  </div>

  <!-- MOB Menu -->
  <div class="menu is-hidden js-menu-container">
    <button class="menu__close-button js-close-menu" type="button" name="close">
      <svg class="menu__close-icon" width="24" height="24">
        <use href="./images/header/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <div class="menu__container">
      <nav class="menu__nav">
        <ul class="menu__list list">
          <li class="menu__item">
            <a href="./index.html" class="menu__link current">ГОЛОВНА</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">ПОСЛУГИ</a>
          </li>
          <li class="menu__subitem">
            <a href="./modeling.html" class="menu__sublink">3D Моделювання</a>
          </li>
          <li class="menu__subitem">
            <a href="./scanning.html" class="menu__sublink">3D Сканування</a>
          </li>
          <li class="menu__subitem">
            <a href="./print.html" class="menu__sublink">3D Друк</a>
          </li>
          <li class="menu__item">
            <a href="./order.html" class="menu__link">ЗАМОВИТИ</a>
          </li>
          <li class="menu__item">
            <a href="./contacts.html" class="menu__link">КОНТАКТИ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
