<section class="threedmodeling__methods">
    <div class="container modeling">  
       <h3 class="modeling__subtitle">СПОСОБИ СТВОРЕННЯ МОДЕЛІ:</h3>
        <div class="modeling__box">
            <ul class="modeling__list list">
                <li class="modeling__item">
                    3D сканування
                </li>
                <li class="modeling__item"> 
                    
                    На основі фотографій з доданими розмірами
                </li>
                <li class="modeling__item"> 
                    За ескізами з розмірами
                </li>
                <li class="modeling__item"> 
                    За вашим кресленням
                </li>
                <li class="modeling__item">
                    По вже існуючому прототипу шляхом зняття розмірів
                </li>
            </ul>
            <div class="modeling__bg"></div>
            <div class="modeling__element-bottom-right"></div>
            <div class="modeling__element-bottom-left"></div>
        </div>
    </div>
</section>