<section class="modeling__create section">
  <div class="container conteiner__relative">
    <div class="modeling__create-dekor"></div>
    <div class="modeling__create-dekor--second"></div>
    <div class="modeling__create-dekor--third"></div>
    <div class="modeling__create-dekor--desktop"></div>
    <h2 class="modeling__create-title">
      Ми створюємо фотореалістичні зображення моделей
    </h2>
    <ul class="modeling__create-list list modeling__container-grid">
      <!-- <div class="modeling__container-grid"> -->
      <li class="modeling__item-create">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/pic/modeling/we_create_model/phone/realistic_1.jpg    1x,
              ./images/pic/modeling/we_create_model/phone/realistic_1_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pic/modeling/we_create_model/tablet/realistic_1.jpg    1x,
              ./images/pic/modeling/we_create_model/tablet/realistic_1_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pic/modeling/we_create_model/desktop/realistic_1.jpg    1x,
              ./images/pic/modeling/we_create_model/desktop/realistic_1_2x.jpg 2x
            "
          />
          <img
            class="modeling__imeges__pic"
            src="./images/pic/modeling/we_create_model/desktop/realistic_1.jpg"
            alt="хомут"
            width="320"
          />
        </picture>
      </li>
      <li class="modeling__item-create">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/pic/modeling/we_create_model/phone/realistic_2.jpg    1x,
              ./images/pic/modeling/we_create_model/phone/realistic_2_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pic/modeling/we_create_model/tablet/realistic_2.jpg    1x,
              ./images/pic/modeling/we_create_model/tablet/realistic_2_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pic/modeling/we_create_model/desktop/realistic_2.jpg    1x,
              ./images/pic/modeling/we_create_model/desktop/realistic_2_2x.jpg 2x
            "
          />
          <img
            class="modeling__pic"
            src="./images/pic/modeling/we_create_model/desktop/realistic_2.jpg"
            alt="хомут"
            width="320"
          />
        </picture>
      </li>
      <li class="modeling__item-create">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/pic/modeling/we_create_model/phone/realistic_3.jpg    1x,
              ./images/pic/modeling/we_create_model/phone/realistic_3_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pic/modeling/we_create_model/tablet/realistic_3.jpg    1x,
              ./images/pic/modeling/we_create_model/tablet/realistic_3_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pic/modeling/we_create_model/desktop/realistic_3.jpg    1x,
              ./images/pic/modeling/we_create_model/desktop/realistic_3_2x.jpg 2x
            "
          />
          <img
            class="modeling__imeges__pic"
            src="./images/pic/modeling/we_create_model/desktop/realistic_3.jpg"
            alt="хомут"
            width="320"
          />
        </picture>
      </li>
      <li class="modeling__item-create">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/pic/modeling/we_create_model/phone/realistic_4.jpg    1x,
              ./images/pic/modeling/we_create_model/phone/realistic_4_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pic/modeling/we_create_model/tablet/realistic_4.jpg    1x,
              ./images/pic/modeling/we_create_model/tablet/realistic_4_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pic/modeling/we_create_model/desktop/realistic_4.jpg    1x,
              ./images/pic/modeling/we_create_model/desktop/realistic_4_2x.jpg 2x
            "
          />
          <img
            class="modeling__pic"
            src="./images/pic/modeling/we_create_model/desktop/realistic_4.jpg"
            alt="хомут"
            width="320"
          />
        </picture>
      </li>
      <!-- </div> -->
    </ul>
    <div class="modeling__create-conteiner">
      <a href="/src/order.html" class="modeling__create-btn button">
        ЗРОБИТИ ЗАМОВЛЕННЯ
      </a>
    </div>
  </div>
</section>
