.gellery {
  padding-bottom: 40px;
}
.gellery__grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-gap: 24px;
  position: relative;
  z-index: 99;
}
@media screen and (min-width: $mobile) {
  .gellery__grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: $tablet) {
  .gellery__grid {
    grid-gap: 32px;
    grid-template-columns: repeat(2, 336px);
    grid-template-areas:
      gellery__grid-item-1 gellery__grid-item-2
      gellery__grid-item-3 gellery__grid-item-4;
  }
}
@media screen and (min-width: $desktop) {
  .gellery__grid {
    max-width: 1440px;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 555px);
    grid-template-areas:
      gellery__grid-item-1 gellery__grid-item-2
      gellery__grid-item-3 gellery__grid-item-4;
  }
}

.gellery__grid-item-1 {
  grid-template-areas: gellery__grid-item-1;
}
.gellery__grid-item-2 {
  grid-template-areas: gellery__grid-item-2;
}
.gellery__grid-item-3 {
  grid-template-areas: gellery__grid-item-3;
}
.gellery__grid-item-4 {
  grid-template-areas: gellery__grid-item-4;
}

.gellery__foto {
  @media screen and (min-width: $mobile) {
    max-width: 100vw;
    height: auto;
  }
  @media screen and (min-width: $tablet) {
    max-width: 100%;
  }
  @media screen and (min-width: $desktop) {
    max-width: 100%;
  }
}
.gellery__title {
  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #487996;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: 45px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    line-height: 60px;
  }
}

.gellery__foto-title {
  font-family: 'Cera Pro';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #487996;
  max-width: 280px;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 23px;
    max-width: 500px;
  }
}

.gellery {
  &__figure-one {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 60, 720);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 25px 0px;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(141, 161, 88, 1244);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px 0px;
      background-color: black;
    }
  }
  &__figure-two {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 691, 578);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 035px 0px 35px 0px;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(143, 144, 1340, 1036);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px 0px 0px 0px;
      background-color: rgb(255, 12, 12);
    }
  }
  &__figure-three {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 740, 657);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(143, 144, 1440, 1178);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px;
      background-color: rgb(0, 254, 131);
    }
  }
}
