.gallery {
  @media screen and (max-width: 479px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $mobile) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 120px;
  }
}
.gallery__box {
  position: relative;
}
.gallery__grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-gap: 24px;
  grid-template-columns: repeat(minmax(200px, auto));
}
@media screen and (min-width: $mobile) {
  .gallery__grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: $tablet) {
  .gallery__grid {
    grid-gap: 32px;
    grid-template-columns: repeat(2, 336px);
    grid-template-areas:
      gallery__grid-item-1 gallery__grid-item-2
      gallery__grid-item-3 gallery__grid-item-4;
  }
}
@media screen and (min-width: $desktop) {
  .gallery__grid {
    justify-content: center;
    max-width: 1440px;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 555px);
    grid-template-areas:
      gallery__grid-item-1 gallery__grid-item-2
      gallery__grid-item-3 gallery__grid-item-4;
  }
}

.gallery__foto {
  margin-bottom: 8px;
  max-width: 100%;
  height: auto;
  z-index: 2;
  @media screen and (min-width: $mobile) {
    max-width: 100%;
  }
  @media screen and (min-width: $tablet) {
    max-width: 100%;
  }
  @media screen and (min-width: $desktop) {
    max-width: 100%;
  }
}
.gallery__title {
  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #487996;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 45px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 60px;
  }
}

.gallery__foto-title {
  font-family: 'Cera Pro';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #487996;
  max-width: 305px;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 23px;
    max-width: 500px;
  }
}

.gallery__content {
  position: relative;
  z-index: 1;
}
.gallery {
  &__figure-one {
    display: block;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 296px;
    left: 0;
    box-shadow: $box-shadow-color;
    border-radius: 25px 0px;
    z-index: 1;
    @media screen and (min-width: $mobile) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, -16, 414);
      box-shadow: $box-shadow-color;
      border-radius: 25px 0px;
      z-index: 1;
    }
    @media screen and (min-width: $tablet) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 34, 164);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 25px 0px;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(141, 161, 30, 388);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px 0px;
    }
  }
  &__figure-two {
    display: block;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 246px;
    right: 0;
    box-shadow: $box-shadow-color;
    z-index: 1;
    border-radius: 72px;
    @media screen and (min-width: $mobile) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 422, 345);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px;
    }
    @media screen and (min-width: $tablet) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 662, 41);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 35px 0px 35px 0px;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(143, 144, 1270, 178);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px 0px 0px 0px;
    }
  }
  &__figure-three {
    display: block;
    position: absolute;
    box-shadow: $box-shadow-color;
    width: 74px;
    height: 74px;
    top: 674px;
    right: 0;
    z-index: 1;
    border-radius: 0px 25px 0px 25px;
    @media screen and (min-width: $mobile) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 410, 910);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 0px 25px 0px 25px;
    }
    @media screen and (min-width: $tablet) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 700, 104);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px;
    }
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(143, 144, 1384, 312);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px;
    }
  }
  &__figure-five {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      @include bd-figure(144, 144, 1258, 656);
      box-shadow: $box-shadow-color;
      z-index: 1;
      border-radius: 72px;
    }
  }
}
.gallery__tank-mini {
  border-radius: 72px;
}
