.hero {
  padding: 18px 0 40px 0;

  @media screen and (min-width: 768px) {
    padding: 30px 0 60px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 43px 0 120px 0;
  }

  &__container {
    position: relative;
  }

  &__title {
    margin: 0 auto 32px auto;
    max-width: 280px;
    text-align: center;
    @include font($fontCaviarDreams, 400, 18, 1.17);
    color: $second-font-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      max-width: 336px;
      font-size: 24px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 630px;
      font-size: 48px;
    }
  }

  &__image-list {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 32px;
    justify-content: center;
    gap: 15px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      gap: 29px;
    }

    @media screen and (min-width: 1440px) {
      gap: 32px;
    }
  }

  &__image-one {
    border-radius: 0 35px 0 0;
    filter: $img-drop-shadow-color;
  }

  &__image-two {
    border-radius: 100px;
    filter: $img-drop-shadow-color;
  }

  &__image-three {
    border-radius: 0 25px;
    filter: $img-drop-shadow-color;
  }

  &__slogan {
    display: block;
    margin-bottom: 40px;
    @include font($fontCaviarDreams, 400, 16, 1.19);
    text-align: center;
    color: $second-font-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 1.17;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 120px;
      font-size: 36px;
    }
  }

  &__figure-one {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      z-index: 3;

      @include bd-figure(74, 74, 32, -30);
      box-shadow: $box-shadow-color;
      border-radius: 0 0 35px 0;
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(144, 144, 32, -43);
      border-radius: 0 0 72px 0;
    }
  }

  &__figure-flowers {
    display: none;
    border-radius: 72px;
    filter: $drop-shadow-color;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 107, -30);
      z-index: 99;
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(144, 144, 177, -43);
    }
  }

  &__figure-three {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 589, -26);
      box-shadow: $box-shadow-color;
      z-index: 99;
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(144, 144, 1120, -42);
    }
  }

  &__figure-production {
    display: none;
    filter: $drop-shadow-color;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 662, -26);
      border-radius: 0 0 35px 0;
      z-index: 99;
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(144, 144, 1264, -42);
      border-radius: 0 0 72 0;
    }
  }

  &__figure-five {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 107, 45);
      box-shadow: $box-shadow-color;
      border-radius: 0 35px 0 0;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 144, 177, 103);
        border-radius: 0 72px 0 0;
      }
    }
  }

  &__figure-six {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 589, 48);
      box-shadow: $box-shadow-color;
      border-radius: 72px;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 144, 1120, 103);
      }
    }
  }

  &__figure-seven {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 32, 120);
      box-shadow: $box-shadow-color;
      border-radius: 0 0 0 35px;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 144, 32, 248);
        border-radius: 0 0 0 72px;
      }
    }
  }

  &__figure-eight {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 662, 118);
      box-shadow: $box-shadow-color;
      border-radius: 25px 0;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 144, 1264, 247);
        border-radius: 72px 0;
      }
    }
  }

  &__figure-nine {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 107, 195);
      box-shadow: $box-shadow-color;
      border-radius: 0 0 35px 0;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 144, 177, 393);
        border-radius: 0 0 72px 0;
      }
    }
  }

  &__link-tablet {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      width: 74px;
      height: 74px;
      align-items: center;
      justify-content: center;
      fill: 2B2B2B;
      transition: fill 250ms $cubic-bezier;
    }

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  &__link-desktop {
    display: none;

    @media screen and (min-width: 1440px) {
      display: flex;
      width: 144px;
      height: 144px;
      align-items: center;
      justify-content: center;
      fill: $second-font-color;
      transition: fill 250ms $cubic-bezier;
    }
  }

  &__link-tablet:hover,
  &__link-tablet:focus,
  &__link-desktop:hover,
  &__link-desktop:focus {
    fill: $svg-color;
  }

  &__figure-ten {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 589, 192);
      box-shadow: $box-shadow-color;
      border-radius: 0 0 0 35px;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 144, 1120, 391);
        border-radius: 0 0 72px 0;
      }
    }
  }

  &__figure-lam {
    display: none;
    border-radius: 72px 72px 0 0;
    filter: $drop-shadow-color;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 662, 192);
      z-index: 99;
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(144, 144, 1264, 391);
    }
  }

  &__figure-print {
    display: none;
    border-radius: 72px;
    filter: $drop-shadow-color;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 74, 32, 254);
      z-index: 99;
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(144, 144, 32, 512);
    }
  }

  &__figure-thirteen {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      @include bd-figure(74, 64, 663, 264);
      transform: rotate(180deg);
      box-shadow: $box-shadow-color;
      border-radius: 0 35px 0 0;
      z-index: 99;

      @media screen and (min-width: 1440px) {
        @include bd-figure(144, 124, 1264, 535);
        border-radius: 0 72px 0 0;
      }
    }
  }

  &__figure-fourteen {
    position: absolute;
    @include bd-figure(74, 74, -29, 203);
    box-shadow: $box-shadow-color;
    border-radius: 0 0 35px 0;
    z-index: 99;

    @media screen and (min-width: 768px) {
      @include bd-figure(74, 74, 32, 329);
    }

    @media screen and (min-width: 1440px) {
      @include bd-figure(110, 144, 32, 657);
      border-radius: 0 0 72px 0;
    }
  }
}
