/* MY CSS */
/*  */

.more-photos .container {
  @media screen and (max-width: 767px) {
    max-height: 1200px;
    overflow: auto;
  }
}

.grid-cards {
  padding-bottom: 20px;
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: auto;
  @media screen and (max-width: 479px) {
    grid-template-columns: 100%;
    grid-template-areas:
      'item1'
      'item2'
      'item3'
      'item4'
      'item5'
      'item6'
      'item7'
      'item8'
      'item9'
      'item10'
      'item11'
      'item12';
  }
  @media screen and (min-width: $mobile) {
    grid-template-columns: 100%;
    grid-template-areas:
      'item1'
      'item2'
      'item3'
      'item4'
      'item5'
      'item6'
      'item7'
      'item8'
      'item9'
      'item10'
      'item11'
      'item12';
  }
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(5, auto);
    grid-template-areas:
      'item1 item1 item2 item2 item3'
      'item4 item5 item5 item6 item6'
      'item7 item7 item8 item8 item9'
      'item10 item11 item11 item12 item12';
    & .card {
      object-fit: cover;
      width: auto;
      height: 197px;
    }
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-areas:
      'item1 item1 item2 item2 item3'
      'item4 item5 item5 item6 item6'
      'item7 item7 item8 item8 item9'
      'item10 item11 item11 item12 item12';
    & .card {
      object-fit: none;
      width: auto;
      height: auto;
    }
  }
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}
.item10 {
  grid-area: item10;
}
.item11 {
  grid-area: item11;
}
.item12 {
  grid-area: item12;
}

.title__more-photos {
  @include titleFonts(24px);
  @media screen and (max-width: 767px) {
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: #fbfbfb;
  }
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 60px;
    margin-left: 124px;
  }
}
