/* *,
*::before,
*::after {
  outline: 1px solid rgb(250, 195, 175);
  background-color: rgba(0, 255, 106, 0.1);
} */

.header {
  @media (max-width: 767px) {
    padding-top: 20px;
    height: 74px;
  }
  /*  @media (min-width: $mobile) {
    height: 74px;
  } */
  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-top: 32px;
    height: 74px;
  }
  @media (min-width: $desktop) {
    height: 144px;
  }
  background-color: $main-bg-color;
  &__box {
    position: relative;
    display: flex;
    @media (max-width: 1439px) {
      align-items: center;
      justify-content: space-between;
    }
  }
  &__logo {
    z-index: 5;
    @media (max-width: 767px) {
      width: 101px;
      height: 25px;
    }
    @media (min-width: $tablet) {
      width: 125px;
      height: 31px;
    }
    @media (min-width: $desktop) {
      margin-top: 40px;
      margin-right: 258px;
      width: 192px;
      height: 48px;
    }
  }
  &__btn-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &__mob-menu-open-button {
    opacity: 100%;
    visibility: visible;
    pointer-events: all;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &__nav {
    @media (max-width: 1439px) {
      display: none;
    }
    margin-right: auto;
  }
  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }

  &__nav-link {
    display: block;
    padding-top: 56px;
    padding-bottom: 67px;
    font-size: 18px;
    line-height: 1.16;
    color: $second-font-color;
  }
  &__drop-menu {
    position: relative;
    margin-top: 56px;
    margin-bottom: 67px;
  }
  &__nav-btn {
    width: 80px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 1.16;
    color: $second-font-color;

    background-color: transparent;
  }
  &__drop-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 4px;
    padding-bottom: 12px;
    position: absolute;
    top: -12px;
    left: -50%;
    width: 144px;
    height: 114px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 72px;
    background-color: $main-bg-color;
    transform: translatey(-10%);
    @include trans();
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &:hover,
    &:focus {
      transform: translateY(0);
      opacity: 100%;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__nav-btn:focus + .header__drop-container {
    transform: translateY(0);
    opacity: 100%;
    visibility: visible;
    pointer-events: all;
  }
  &__drop-link {
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 1.18;
    color: $second-font-color;
  }
  &__drop-icon {
    width: 10;
    height: 4px;
    margin-left: 4px;
  }
  &__nav-btn:focus .header__drop-icon {
    transform: rotate(180deg);
  }

  &__contact-list {
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: $tablet) and (max-width: 1439px) {
      position: absolute;
      top: -12px;
      right: 32px;
    }
  }
  &__contact-link {
    display: flex;
    align-items: center;
    @media (min-width: $tablet) and (max-width: 1439px) {
      gap: 4px;
    }
    gap: 8px;
    &-top {
      @media (min-width: $tablet) and (max-width: 1439px) {
        padding: 0 0 5px;
      }
      padding: 40px 0 5px;
    }
    &-bottom {
      @media (min-width: $tablet) and (max-width: 1439px) {
        padding: 5px 0 0;
      }
      padding: 5px 0 54px;
    }
  }
  &__contact-icon {
    width: 14px;
    height: 14px;
  }
  &__contact-text {
    font-size: 16px;
    line-height: 1.25;
    color: $second-font-color;
  }
  &__mob-link-container {
    position: relative;
    z-index: 5;
    width: 125px;
    height: 31px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 25px;
    width: 101px;
    height: 25px;
    @media (min-width: $tablet) {
      width: 125px;
      height: 31px;
    }
    @media (min-width: $desktop) {
      display: none;
    }
  }
  &__mob-contact-open-button {
    @media (min-width: $tablet) {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }
  &__mob-contact-open-button:focus + .header__speech {
    transform: translateY(15%);
    opacity: 100%;
    visibility: visible;
    pointer-events: all;
  }
  &__speech {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: -44px;
    width: 162px;
    height: 82px;
    padding: 0 4px;
    text-align: center;
    background-color: $main-bg-color;
    border-radius: 2px;
    font-family: 'Cera Pro';
    font-size: 16px;
    line-height: 1.25;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    transform: translatey(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @include trans();

    &:after {
      content: ' ';
      position: absolute;
      left: 50%;
      top: 9px;
      width: 0;
      height: 0;
      transform: translate(-50%, -100%);
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 20px solid $main-bg-color;
      border-radius: 2px;
    }
    &-first-tel {
      color: $second-font-color;
      display: block;
      padding: 16px 0 5px;
    }
    &-second-tel {
      color: $second-font-color;
      display: block;
      padding: 5px 0 16px;
    }
    &:hover,
    &:focus {
      transform: translateY(15%);
      opacity: 100%;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__lang-link {
    display: block;
    font-family: 'Caviar Dreams';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: $lang-color;
    @media (min-width: $tablet) {
      position: absolute;
      top: -6px;
      right: 203px;
    }
  }

  &__element-first {
    position: absolute;
    z-index: 4;
    background-color: $main-bg-color;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: $tablet) {
      height: 74px;
      width: 74px;
      top: -32px;
      left: 32px;
      border-radius: 35px 0px 0px 0px;
    }
    @media (min-width: $desktop) {
      height: 144px;
      width: 144px;
      left: 32px;
      top: 0;
      border-radius: 72px 0px 0px 0px;
    }
  }
  &__element-left {
    position: absolute;
    z-index: 4;
    @media (max-width: 767px) {
      height: 74px;
      width: 74px;
      left: 0;
    }
    @media (min-width: $tablet) {
      height: 74px;
      width: 74px;
      top: -32px;
      left: 201px;
    }
    @media (min-width: $desktop) {
      height: 144px;
      width: 144px;
      left: 291px;
      top: 0;
    }

    background-color: $main-bg-color;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 72px 72px 0px;
  }

  &__element-right {
    position: absolute;
    z-index: 4;
    @media (max-width: 767px) {
      height: 74px;
      width: 74px;
      right: 0;
      top: -20px;
    }
    @media (min-width: $tablet) {
      height: 74px;
      width: 74px;
      top: -32px;
      right: 215px;
    }
    @media (min-width: $desktop) {
      height: 144px;
      width: 144px;
      right: 267px;
      top: 0;
      right: 267px;
    }
    background: $main-bg-color;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px 0px 72px;
  }
  &__desktop-lang-link {
    display: none;
    font-family: 'Caviar Dreams';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: $lang-color;
    @media (min-width: $desktop) {
      display: block;
      position: absolute;
      top: 57px;
      left: 59px;
    }
  }
}

//* ------MOB Menu------ */
.current {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $main-font-color;
}

.menu {
  position: fixed;
  top: 52px;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  visibility: visible;
  pointer-events: all;
  @include trans();
  background-color: $effects-bg-color;

  @media screen and (min-width: $tablet) {
    top: 74px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    // top: -92px;
    top: -32px;

    @media (min-width: 768px) {
      top: -40px;
    }

    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  &__container {
    width: 320px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    // overflow: auto;

    @media screen and (min-width: $mobile) {
      max-width: 480px;
    }

    @media screen and (min-width: $tablet) {
      width: 380px;
      padding-top: 55px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__link {
    @include font('Cera Pro', 700, 24, calc(30px / 24px));
    text-align: center;
    color: $main-font-color;
  }

  &__link:hover,
  &__link:focus {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $main-font-color;
  }

  &__subitem {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subitem::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 3px 0px;
    background-color: $main-font-color;
    align-items: center;
    margin-right: 18px;
  }

  &__sublink {
    @include font('Cera Pro', 500, 24, calc(30px / 24px));
    text-align: center;

    color: $main-font-color;
  }

  &__sublink:hover,
  &__sublink:focus {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $main-font-color;
  }
}
