<section class="hero section">
  <div class="container hero__container">
    <h1 class="hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
    <ul class="hero__image-list list">
      <li class="hero__image-left">
        <picture>
          <source
            srcset="./images/pic/main/images_hero/hero-walle-desktop1x.jpg 1x,
            ./images/pic/main/images_hero/hero-walle-desktop2x.jpg 2x"
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/pic/main/images_hero/hero-walle-tablet1x.jpg 1x,
            ./images/pic/main/images_hero/hero-walle-tablet2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpeg" />
          <source
            srcset="./images/pic/main/images_hero/hero-walle-mobile1x.jpg 1x,
            ./images/pic/main/images_hero/hero-walle-mobile2x.jpg 2x"
            type="image/jpeg" />
          <img
            class="hero__image-one"
            src="./images/pic/main/images_hero/hero-walle-desktop1x.jpg"
            alt="Воллі"
          />
        </picture>
      </li>
      <li class="hero__image-center">
        <picture>
          <source
            srcset="./images/pic/main/images_hero/hero-lamps-desktop1x.jpg 1x,
            ./images/pic/main/images_hero/hero-lamps-desktop2x.jpg 2x"
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/pic/main/images_hero/hero-lamps-tablet1x.jpg 1x,
            ./images/pic/main/images_hero/hero-lamps-tablet2x.jpg 2x"
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/pic/main/images_hero/hero-lamps-mobile1x.jpg 1x,
            ./images/pic/main/images_hero/hero-lamps-mobile2x.jpg 2x"
            type="image/jpeg"
          />
          <img class="hero__image-two"
            src="./images/pic/main/images_hero/hero-lamps-desktop1x.jpg"
            alt="Дві лампи"
          />
        </picture>
      </li>
      <li class="hero__image-right">
        <picture>
          <source
            srcset="./images/pic/main/images_hero/hero-skull-desktop1x.jpg 1x,
            ./images/pic/main/images_hero/hero-skull-desktop2x.jpg 2x"
            media="(min-width: 1440px)" type="image/jpeg" />
          <source
            srcset="./images/pic/main/images_hero/hero-skull-tablet1x.jpg 1x,
            ./images/pic/main/images_hero/hero-skull-tablet2x.jpg 2x"
            media="(min-width: 768px)" type="image/jpeg" />
          <source
            srcset="./images/pic/main/images_hero/hero-skull-mobile1x.jpg 1x,
            ./images/pic/main/images_hero/hero-skull-mobile2x.jpg 2x"
            type="image/jpeg" />
          <img class="hero__image-three" src="./images/pic/main/images_hero/hero-skull-desktop1x.jpg" alt="Череп" />
        </picture>
      </li>
    </ul>
    <strong class="hero__slogan">Ми втілюємо ідеї в реальність</strong>
    <div class="hero__figure-one"></div>
    <div class="hero__figure-two">
      <picture>
        <source
          srcset="./images/pic/main/images_hero/hero-flowers-desktop1x.jpg 1x,
          ./images/pic/main/images_hero/hero-flowers-desktop1x.jpg 2x"
          media="(min-width: 1440px)"
          type="image/jpeg"
        />
        <source
          srcset="./images/pic/main/images_hero/hero-flowers-tablet1x.jpg 1x,
          ./images/pic/main/images_hero/hero-flowers-tablet2x.jpg 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <img class="hero__figure-flowers"
          src="./images/pic/main/images_hero/hero-flowers-tablet1x.jpg"
          alt="Квіти в горщиках"
        />
      </picture>
    </div>
    <div class="hero__figure-three"></div>
    <div class="hero__figure-four">
      <picture>
        <source
          srcset="./images/pic/main/images_hero/hero-production-desktop1x.jpg 1x,
          ./images/pic/main/images_hero/hero-production-desktop1x.jpg 2x"
          media="(min-width: 1440px)"
          type="image/jpeg"
        />
        <source
          srcset="./images/pic/main/images_hero/hero-production-tablet1x.jpg 1x,
          ./images/pic/main/images_hero/hero-production-tablet2x.jpg 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <img class="hero__figure-production"
            src="./images/pic/main/images_hero/hero-production-tablet1x.jpg"
          alt="Друк деталі" />
      </picture>
    </div>
    <div class="hero__figure-five"></div>
    <div class="hero__figure-six"></div>
    <div class="hero__figure-seven"></div>
    <div class="hero__figure-eight"></div>
    <div class="hero__figure-nine"><a class="hero__link-tablet" href="#gallery"><svg width="9" height="14">
          <use href="/src/images/svg/symbol-hero.svg#icon-arrow"></use>
        </svg></a> <a class="hero__link-desktop" href="#gallery"><svg width="18" height="28">
          <use href="/src/images/svg/symbol-hero.svg#icon-arrow"></use>
        </svg></a></div>
    <div class="hero__figure-ten"></div>
    <div class="hero__figure-eleven">
      <picture>
        <source
          srcset="./images/pic/main/images_hero/hero-lam-desktop1x.jpg 1x, ./images/pic/main/images_hero/hero-lam-desktop1x.jpg 2x"
          media="(min-width: 1440px)" type="image/jpeg" />
        <source
          srcset="./images/pic/main/images_hero/hero-lam-tablet1x.jpg 1x, ./images/pic/main/images_hero/hero-lam-tablet2x.jpg 2x"
          media="(min-width: 768px)" type="image/jpeg" />
        <img class="hero__figure-lam" src="./images/pic/main/images_hero/hero-lam-tablet1x.jpg" alt="Настільна лампа" />
      </picture>
    </div>
    <div class="hero__figure-twelve">
      <picture>
        <source
          srcset="./images/pic/main/images_hero/hero-print-desktop1x.jpg 1x, ./images/pic/main/images_hero/hero-print-desktop1x.jpg 2x"
          media="(min-width: 1440px)" type="image/jpeg" />
        <source
          srcset="./images/pic/main/images_hero/hero-print-tablet1x.jpg 1x, ./images/pic/main/images_hero/hero-print-tablet2x.jpg 2x"
          media="(min-width: 768px)" type="image/jpeg" />
        <img class="hero__figure-print" src="./images/pic/main/images_hero/hero-print-tablet1x.jpg" alt="Друк деталі" />
      </picture>
    </div>
    <div class="hero__figure-thirteen"></div>
    <div class="hero__figure-fourteen"></div>
  </div>
</section>