<section class="more-photos">
  <div class="container">
    
    <h2 class="title__more-photos">Більше фото</h2>
    <div class="grid-cards">
      <div class="grid-relative"></div>
      <div class="grid-relative__figure-one"></div>
      <div class="grid-item item1">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk1-3d-models.jpg    1x,
              ./././images/pic/main/more/desk1-3d-models-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab1-3d-models.jpg    1x,
              ./././images/pic/main/more/tab1-3d-models-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/mob1-3d-models.jpg    1x,
              ./././images/pic/main/more/mob1-3d-models-x2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk1-3d-models.jpg"
            alt="Приклад№1"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item2">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk2-3d-printed-arch.jpg    1x,
              ./././images/pic/main/more/desk2-3d-printed-arch-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab2-3d-printed-arch.jpg    1x,
              ./././images/pic/main/more/tab2-3d-printed-arch-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/mob2-3d-printed-arch.jpg    1x,
              ./././images/pic/main/more/mob2-3d-printed-arch-x2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk2-3d-printed-arch.jpg"
            alt="Приклад№2"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item3">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk3-3d-walle.jpg    1x,
              ./././images/pic/main/more/desk3-3d-walle-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab3-3d-walle.jpg    1x,
              ./././images/pic/main/more/tab3-3d-walle-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/mob3-3d-walle.jpg    1x,
              ./././images/pic/main/more/mob3-3d-walle-x2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk3-3d-walle.jpg"
            alt="Приклад№3"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item4">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk4-3d-skull.jpg    1x,
              ./././images/pic/main/more/desk4-3d-skull-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab4-3d-skull.jpg    1x,
              ./././images/pic/main/more/tab4-3d-skull-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk4-3d-skull.jpg"
            alt="Приклад№4"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item5">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk5-3d-tank.jpg    1x,
              ./././images/pic/main/more/desk5-3d-tank-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab5-3d-tank.jpg    1x,
              ./././images/pic/main/more/tab5-3d-tank-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk5-3d-tank.jpg"
            alt="Приклад№5"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item6">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk6-3d-lamp.jpg    1x,
              ./././images/pic/main/more/desk6-3d-lamp-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab6-3d-lamp.jpg    1x,
              ./././images/pic/main/more/tab6-3d-lamp-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk6-3d-lamp.jpg"
            alt="Приклад№6"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item7">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk7-3d-car.jpg    1x,
              ./././images/pic/main/more/desk7-3d-car-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab7-3d-car.jpg    1x,
              ./././images/pic/main/more/tab7-3d-car-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk7-3d-car.jpg"
            alt="Приклад№7"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item8">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk8-3d-roof.jpg    1x,
              ./././images/pic/main/more/desk8-3d-roof-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab8-3d-roof.jpg    1x,
              ./././images/pic/main/more/tab8-3d-roof-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk8-3d-roof.jpg"
            alt="Приклад№8"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item9">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk9-3d-mushroom.jpg    1x,
              ./././images/pic/main/more/desk9-3d-mushroom-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab9-3d-mushroom.jpg    1x,
              ./././images/pic/main/more/tab9-3d-mushroom-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk9-3d-mushroom.jpg"
            alt="Приклад№9"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item10">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk10-3d-fresh.jpg    1x,
              ./././images/pic/main/more/desk10-3d-fresh-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab10-3d-fresh.jpg    1x,
              ./././images/pic/main/more/tab10-3d-fresh-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk10-3d-fresh.jpg"
            alt="Приклад№10"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item11">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk11-3d-truck.jpg    1x,
              ./././images/pic/main/more/desk11-3d-truck-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab11-3d-truck.jpg    1x,
              ./././images/pic/main/more/tab11-3d-truck-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk11-3d-truck.jpg"
            alt="Приклад№11"
            width="438"
          />
        </picture>
      </div>
      <div class="grid-item item12">
        <picture>
          <source
            srcset="
              ./././images/pic/main/more/desk12-3d-green-zone.jpg    1x,
              ./././images/pic/main/more/desk12-3d-green-zone-x2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./././images/pic/main/more/tab12-3d-green-zone.jpg    1x,
              ./././images/pic/main/more/tab12-3d-green-zone-x2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="card"
            src="./././images/pic/main/more/desk12-3d-green-zone.jpg"
            alt="Приклад№12"
            width="438"
          />
        </picture>
      </div>
    </div>
    <svg class="icon-loader" width="45px" height="45px">
      <use href="./././images/svg/sprite.svg#icon-test-load"></use>
    </svg>
  </div>
</section>
