<section class="more-photo__section">
  <div class="container container__more-photo">

    <!-- Белые блоки позиционированные -->
    <div class="more-block1"></div>
    <div class="more-blick2"></div>
    <div class="more-blick3"></div>
    <div class="more-block4"></div>
    <div class="more-block5"></div>
    <div class="more-block6"></div>

    <h2 class="sub-title more-title">БІЛЬШЕ ФОТО</h2>

    <ul class="more-photo-list list">
      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(1)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-1.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-1@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-1.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-1@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-1.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-1@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-1@2x.jpg" alt="3-d модельки" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture  onclick="openModal();currentSlide(2)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-2.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-2@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-2.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-2@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-2.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-2@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-2@2x.jpg" alt="3-модель арки" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(3)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-3.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-3@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-3.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-3@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-3.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-3@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-3@2x.jpg" alt="3-d модель Волли" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(4)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-4.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-4@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-4.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-4@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-4.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-4@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-4@2x.jpg" alt="3-d модель черепа" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(5)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-5.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-5@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-5.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-5@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-5.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-5@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-5@2x.jpg" alt="3-d модель танка" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(6)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-6.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-6@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-6.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-6@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-6.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-6@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-6@2x.jpg" alt="3-d модель настольных ламп" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(7)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-7.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-7@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-7.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-7@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-7.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-7@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-7@2x.jpg" alt="3-d модель корпуса автомобиля" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(8)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-8.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-8@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-8.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-8@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-8.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-8@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-8@2x.jpg" alt="3-dмодель мечети" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(9)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-9.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-9@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-9.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-9@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-9.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-9@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-9@2x.jpg" alt="3-d модель лампы-грибочка" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(10)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-10.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-10@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-10.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-10@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-10.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-10@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-10@2x.jpg" alt="3-д модель какой-то штуки" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(11)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-11.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-11@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-11.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-11@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-11.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-11@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-11@2x.jpg" alt="3-d модель тесла-кибер-трака" />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture onclick="openModal();currentSlide(12)>
          <source type="image/jpeg" media="(min-width: 1440px)" sizes="(min-width: 270px) 270px, 25vw" srcset="
          ./././images/pic/main/more-photos-desk/more-photos-12.jpg    1x,
          ./././images/pic/main/more-photos-desk/more-photos-12@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw" srcset="
            ./././images/pic/main/more-photos-tab/more-photos-12.jpg    1x,
            ./././images/pic/main/more-photos-tab/more-photos-12@2x.jpg 2x
            " />

          <source type="image/jpeg" media="(max-width: 767px)" sizes="(min-width: 320px) 320px,90vw" srcset="
          ./././images/pic/main/more-photos-mob/more-photos-12.jpg    1x,
          ./././images/pic/main/more-photos-mob/more-photos-12@2x.jpg 2x
            " />

          <img class="more-photo-list__img"
            src="./././images/pic/main/more-photos-desk/more-photos-12@2x.jpg" alt="3-d модель горшочка для сукулентов" />
        </picture>
      </li>
    </ul>

        <!-- Слайдер в модальном окне -->
        <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">
            <svg class="close__icon">
              <use href="/src/images/svg/sprite.svg#icon-cross"></use>
            </svg>
          </span>
          <div class="modal-content">
    
            <div class="slideshow-container">
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-1@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-1@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-1@2x.jpg 1200w
                    " sizes="(min-width: 1200vw) 50vw, (min-width: 768vw) 50vw, (min-width: 320px) 70w, 50vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-1@2x.jpg"
                  alt="Грут, череп, миньон и компания" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-2@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-2@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-2@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-2@2x.jpg"
                  alt="Арка из платика" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img-big" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-3@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-3@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-3@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 400px, (min-width: 768px) 300px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-3@2x.jpg"
                  alt="Пластиковый Волли" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img-big" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-4@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-4@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-4@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 400px, (min-width: 768px) 300px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-4@2x.jpg"
                  alt="Моделька черепа в сеточку" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-5@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-5@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-5@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-5@2x.jpg"
                  alt="Моделька танка из World of Tanks" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-6@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-6@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-6@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-6@2x.jpg"
                  alt="Лампы из Pixar" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-7@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-7@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-7@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-7@2x.jpg"
                  alt="Корпус бэт-мобиля" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-8@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-8@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-8@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-8@2x.jpg"
                  alt="Мечеть из Алладина =)" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img-big" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-9@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-9@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-9@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-9@2x.jpg"
                  alt="Лампа-грибочек" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img-big" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-10@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-10@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-10@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-10@2x.jpg"
                  alt="Толи колонки, толи освежители воздуха..." />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-11@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-11@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-11@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-11@2x.jpg"
                  alt="Трак Иллона Маска" />
              </div>
    
              <div class="mySlides fade">
                <img class="slider-modal__img" srcset="
                      ./././images/pic/main/more-photos-desk/more-photos-12@2x.jpg   320w,
                      ./././images/pic/main/more-photos-tab/more-photos-12@2x.jpg   768w,
                      ./././images/pic/main/more-photos-mob/more-photos-12@2x.jpg 1200w
                    " sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                  src="./././images/pic/main/more-photos-desk/more-photos-12@2x.jpg"
                  alt="Горшочек для суккулентов" />
              </div>
              <!-- Next and previous buttons -->
              <a class="prev" onclick="plusSlides(-1)">
                <svg class="prev__icon">
                  <use href="/src/images/svg/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
              <a class="next" onclick="plusSlides(1)">
                <svg class="next__icon">
                  <use href="/src/images/svg/sprite.svg#icon-gallery-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
  </div>
</section>