.container {
@media screen and (min-width: 480px) {
max-width: 480px;
}
@media screen and (min-width: 768px) {
max-width: 768px;
}
@media screen and (min-width: 1440px) {
max-width: 1440px;
}
}

.threedmodeling__methods {
background: #FFFFFF;
padding-top: 40px;
padding-bottom: 40px;
@media screen and (min-width: 1440px) {        
padding-left: 149px;
padding-bottom: 100px;
padding-top: 0;
}
}
.modeling__subtitle {
margin-bottom: 16px;
font-family: 'Cera Pro';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.28;
text-transform: uppercase;
color: #487996;
@media screen and (min-width: 768px) {
font-size: 24px;
line-height: 1.25;
}
@media screen and (min-width: 1440px) {
margin-bottom: 24px;
font-size: 36px;
line-height: 1.25;
}
}

.modeling__list {
position: relative;
z-index: 2;
font-family: 'Cera Pro';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 1.25;
color: #2B2B2B;
margin-bottom: 40px; 
@media screen and (min-width: 768px) {
margin-bottom: 0;
}
@media screen and (min-width: 1440px) {
font-size: 18px;
line-height: 1.28;  
}
}

.modeling__item:not(:last-child) {
margin-bottom: 16px;
}

.modeling__item::before {
content: '';
width: 7px;
height: 7px;
display: inline-block;
background: #487996;
border-radius: 3px 0px;
margin-right: 8px;
}
.modeling__box {
position: relative;
@media screen and (min-width: 768px) {
position: relative;
}}
.modeling__bg {
width: 100%;
background-repeat: no-repeat;
height: 164px;
text-align: center;
background-size: contain;
background-position: center;
background-image: url(/src/images/pic/modeling/mobile-bg.png);
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: 
url(/src/images/pic/modeling/mobile-bg2x.png);
}   

@media screen and (min-width: 768px) {   
background-image: url(/src/images/pic/modeling/tab-bg.png);
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: 
url(/src/images/pic/modeling/tab-bg2x.png);
} 
position: absolute; 
z-index: 2;
width: 246;
height: 144px;
top: -20px;
right: 0px;
background-size: contain;}
@media screen and (min-width: 1440px) {
background-image: url(/src/images/pic/modeling/dekstop-bg.png);
 @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: 
url(/src/images/pic/modeling/dekstop-bg2x.png);
} 
width: 555px;
height: 301px;
background-size: contain;
top: -145px;
right: 230px;
}
}
.modeling__element-bottom-right {
position: absolute;
width: 74px;
height: 74px;
right: -30px;
top: 7px;
background-color: #fff;
box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
border-radius: 72px;
@media screen and (min-width: 768px) {
position: absolute;
width: 71px;
height: 74px;
left: 633px;
top: 32px;
background-color: #fff;
box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
border-radius: 25px 0px;
}
@media screen and (min-width: 1440px) {
position: absolute;
width: 137px;
height: 144px;
left: 1101px;
top: 65px;
background-color: #fff;
box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
border-radius: 72px 0px;
}
}
.modeling__element-bottom-left {
position: absolute;
width: 74px;
height: 74px;
left: -34px;
top: 65px;
background: #FFFFFF;
box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
border-radius: 25px 0px;
@media screen and (min-width: 768px) {
display: none;
}
}
