.scanning-process {
  // padding-top: 40px;
  padding-bottom: 60px;
  background-color: $effects-bg-color;
  @media screen and (min-width: 768px) {
    background: $effects-bg-color;
    // padding-top: 60px;
    // padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (min-width: 1440px) {
    // padding-top: 100px;
    padding-bottom: 80px;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 767px) {
      max-width: 320px;
    }
    @media screen and (min-width: 768px) {
      min-width: 768px;
    }
    @media screen and (min-width: 1440px) {
      min-width: 1440px;
    }
  }
  &__title {
    @media screen and (min-width: 480px) {
      font-family: $fontCeraPro;
      margin-bottom: 16px;
      color: #487996;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.25;
      align-self: flex-start;
      @media screen and (min-width: 768px) {
        margin: 0 auto 24px 60px;
        font-size: 24px;
        line-height: 2.61;
      }
      @media screen and (min-width: 1440px) {
        margin: 0 auto 40px 149px;
        font-size: 36px;
        line-height: 1.25;
      }
    }
    @media screen and (max-width: 767px) {
      font-family: $fontCeraPro;
      margin-bottom: 16px;
      color: #487996;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.25;
      align-self: flex-start;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 20px;
    justify-content: center;
    max-width: 280px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      gap: 32px;
      max-width: 100%;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 80px;
    }
  }
  &__item {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0px 15px;
    width: 130px;
    height: 182px;
    background: #ffffff;
    // opacity: 0.8;
    border-radius: 50px 0px;
    box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
      inset -1px -1px 16px #ffffff;
    &::before {
      content: '';
      width: 93px;
      height: 82px;
      background-size: 93px 82px;
      margin-bottom: 13px;
    }
    &:nth-child(1)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process1-mobile-1x-min.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(/src/images/pic/scanning/process/scan_process1-mobile-2x-min.png);
        }
      }
    }
    &:nth-child(2)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process2-mobile-1x-min.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(/src/images/pic/scanning/process/scan_process2-mobile-2x-min.png);
        }
      }
    }
    &:nth-child(3)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process3-mobile-1x-min.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(/src/images/pic/scanning/process/scan_process3-mobile-2x-min.png);
        }
      }
    }
    &:nth-child(4)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process4-mobile-1x-min.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(/src/images/pic/scanning/process/scan_process4-mobile-2x-min.png);
        }
      }
    }
    @media screen and (min-width: 768px) {
      width: 152px;
      height: 210px;
      padding: 0 0 25px;
      &::before {
        content: '';
        width: 107px;
        height: 94px;
        background-size: 107px 94px;
        margin-bottom: 14px;
      }
      &:nth-child(1)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process1-tablet-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process1-tablet-2x-min.png);
          }
        }
      }
      &:nth-child(2)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process2-tablet-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process2-tablet-2x-min.png);
          }
        }
      }
      &:nth-child(3)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process3-tablet-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process3-tablet-2x-min.png);
          }
        }
      }
      &:nth-child(4)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process4-tablet-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process4-tablet-2x-min.png);
          }
        }
      }
    }
    @media screen and (min-width: 1440px) {
      width: 320px;
      height: 381px;
      padding-bottom: 40px;
      padding: 0 0 27px;
      &::before {
        content: '';
        width: 240px;
        height: 240px;
        background-size: 240px 240px;
        margin-bottom: 4px;
      }
      &:nth-child(1)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process1-desktop-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process1-desktop-2x-min.png);
          }
        }
      }
      &:nth-child(2)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process2-desktop-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process2-desktop-2x-min.png);
          }
        }
      }
      &:nth-child(3)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process3-desktop-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process3-desktop-2x-min.png);
          }
        }
      }
      &:nth-child(4)::before {
        background-image: url(/src/images/pic/scanning/process/scan_process4-desktop-1x-min.png);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(/src/images/pic/scanning/process/scan_process4-desktop-2x-min.png);
          }
        }
      }
    }
  }
  &__item-tittle {
    font-family: $fontCeraPro;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #487996;
    padding: 0 15px;
    @media screen and (min-width: 768px) {
      padding: 0 23px;
    }
    @media screen and (min-width: 1440px) {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.53;
      padding: 0 74px;
    }
  }
  &__button {
    height: 56px;
    z-index: 2;
  }
}

.petal-left {
  position: absolute;
  bottom: 57.4%;
  left: -7%;
  width: 73.65px;
  height: 73.65px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;
  @media screen and (min-width: 768px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.petal-right {
  position: absolute;
  bottom: 64%;
  right: 0;
  width: 73.65px;
  height: 73.65px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;
  border-radius: 0px 25px;
  @media screen and (min-width: 768px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.petal-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 73.65px;
  height: 73.65px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;
  border-radius: 25px 0px;
  @media screen and (min-width: 768px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
