.scanning-process {
  padding: 40px 0;
  &__container {
    @media screen and (max-width: 767px) {
      max-width: 480px;
    }
    @media screen and (min-width: 480px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 1440px;
    }
  }
  &__title {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 480px) {
      margin-bottom: 16px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 130px;
    height: 182px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 50px 0px;
    &::before {
      display: block;
      content: '';
      height: 82px;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:nth-child(2)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process1-mobile-1x-min.jpg);
    }
  }
  &__button {
  }
}
