.scanning-process {
  padding: 40px 0;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    top,
    rgb(255, 255, 255) 0%,
    rgb(229, 229, 229) 30%,
    rgb(255, 255, 255) 80%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 255) 0%,
    rgb(229, 229, 229) 30%,
    rgb(255, 255, 255) 80%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(229, 229, 229) 30%,
    rgb(255, 255, 255) 80%
  );
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    //   @media screen and (max-width: 767px) {
    //     max-width: 320px;
    //   }
  }
  &__title {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
      color: #487996;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.25;
      align-self: flex-start;
    }
    @media screen and (min-width: 480px) {
      margin-bottom: 16px;
      color: #487996;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.25;
      align-self: flex-start;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 20px;
    justify-content: center;
    max-width: 280px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 19.5px 20px;
    width: 130px;
    height: 182px;
    background: #ffffff;
    // opacity: 0.8;
    border-radius: 50px 0px;
    box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
      inset -1px -1px 16px #ffffff;
    &::before {
      content: '';
      width: 93px;
      height: 82px;
      background-size: 93px 82px;
    }
    &:nth-child(1)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process1-mobile-1x-min.jpg);
    }
    &:nth-child(2)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process2-mobile-1x-min.jpg);
    }
    &:nth-child(3)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process3-mobile-1x-min.jpg);
    }
    &:nth-child(4)::before {
      background-image: url(/src/images/pic/scanning/process/scan_process4-mobile-1x-min.jpg);
    }
  }
  &__item-tittle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #487996;
    &:nth-child(2) {
      color: #82b4d2;
    }
  }
  &__button {
  }
}
