.hero-contacts {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 20px 0 20px;
  margin-bottom: 40px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
    padding: 18px 20px 0 20px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 30px 32px 0 32px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1142px;
    padding: 46px 0px 0 0px;
    margin-bottom: 60px;
  }
}
.contacts-hero {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
    max-width: 1142px;
  }
}

.contacts-hero__title {
  margin-bottom: 18px;
  text-align: start;
}

.contacts-hero__wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
  }
}
.contacts-hero__iframe {
  max-width: 767px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1440px) {
    width: 555px;
  }
}
.contacts-hero__text-thumb {
  color: $second-font-color;
  @include font($fontCeraPro, 400, 16, 1.25);
  @media screen and (min-width: 768px) {
    @include font($fontCeraPro, 400, 18, 1.28);
    width: 336px;
  }
  @media screen and (min-width: 1440px) {
    @include font($fontCeraPro, 400, 18, 1.28);
    width: 555px;
  }
}

.contacts-hero__text {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 24px;
  }
}

.smile {
  display: flex;
  flex-direction: row;
  gap: 8px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 8px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: column;
    gap: 56px;
  }
}
.hero__text-smile {
  @media screen and (min-width: 768px) {
    width: 22px;
    height: 22px;
  }
  @media screen and (min-width: 1440px) {
    width: 49px;
    height: 49px;
  }
}

.contact-hero__picture {
  border-radius: 15px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1440px) {
    width: 555px;
  }
}

.contacts-hero__img {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: 1;
  opacity: 1;
  &.is-hidden {
    visibility: 0;
    opacity: 0;
  }
}

// --------------------------------------------
.play-button {
  width: 67px;
  height: 67px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) {
    // width: calc((100% - 30px) / 2);
  }
}

.icon-spot {
  transform: translate3D(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  box-shadow: 0 0 3px 3px #fff;
}

.contacts-hero__icon {
  position: absolute;
  fill: #487996;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(255, 255, 255, 0.8);
  box-shadow: border-box rgba(255, 255, 255, 0.8);
  // filter: blur(3px);
}

.contacts-hero__figure-one {
  display: none;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    box-shadow: $box-shadow-color;
    @include bd-figure(82, 78, -114, 0);
    border-radius: 0px 0px 72px 0px;
  }
}

.contacts-hero__figure-two {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    box-shadow: $box-shadow-color;
    @include bd-figure(72, 64, 736, -42);
    border-radius: 0px 0px 0px 72px;
  }

  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    box-shadow: $box-shadow-color;
    @include bd-figure(137, 83, 1122, -42);
    border-radius: 0px 0px 0px 72px;
  }
}

.contacts-hero__figure-three {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    box-shadow: $box-shadow-color;
    @include bd-figure(72, 64, 736, -42);
    border-radius: 0px 0px 0px 72px;
  }

  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    box-shadow: $box-shadow-color;
    @include bd-figure(137, 144, -22, 818);
    border-radius: 72px 72px 72px 72px;
  }
}
