.contacts {
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 1440px) {
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }

    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;

      gap: 24px;
    }

    @media screen and (min-width: 1440px) {
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 30px;
      gap: 30px;
    }
  }

  &__phone {
    color: $second-font-color;
    transform: color 250ms $cubic-bezier;
    &:hover,
    &:focus {
      color: $svg-color;
    }
  }
  &__time {
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }

    @media screen and (min-width: 1440px) {
      max-width: 270px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      @media screen and (min-width: 1440px) {
        flex-direction: column;
        margin-bottom: 68px;
      }
    }
  }
  .time-item:nth-child(2) {
    margin-bottom: 8px;
  }
  &__item {
    display: flex;
    text-decoration: none;
    color: $second-font-color;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      flex-direction: column;
    }

    @media screen and (min-width: 1440px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__item-list > li {
    @include font($fontCeraPro, 400, 16, 1.25);
    color: $second-font-color;
    text-decoration: none;
    text-align: end;
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1440px) {
      @include font($fontCeraPro, 400, 18, 1.25);
    }
  }

  &__item-list > li:not(:last-child) {
    margin-bottom: 18px;
  }
}

.sub-title {
  margin-bottom: 18px;
}

.mosaics {
  display: none;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.mosaics__list {
}

.mosaics__item {
}

.mosaics__img {
  opacity: 1;
}
