.contacts {
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1440px) {
  }
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__title {
    @include font($fontCeraPro, 700, 18, 1.25);
    color: $main-font-color;
    margin-bottom: 8px;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
      text-align: end;
      @include font($fontCeraPro, 700, 24, 1.25);
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 18px;
      @include font($fontCeraPro, 700, 36, 1.25);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
      margin: 0;
    }
    @media screen and (min-width: 1440px) {
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 30px;
      gap: 30px;
    }
  }

  &__phone,
  &__mail {
    color: $second-font-color;
    transform: color 250ms $cubic-bezier;
    @include font($fontCeraPro, 400, 16, 1.25);
    @media screen and (min-width: 768px) {
      @include font($fontCeraPro, 400, 16, 1.25);
    }

    @media screen and (min-width: 1440px) {
      @include font($fontCeraPro, 400, 18, 1.25);
    }
    // &:hover,
    // &:focus {
    //   color: $svg-color;
    // }
  }

  &__time {
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
    @media screen and (min-width: 1440px) {
      max-width: 270px;
      margin-bottom: 68px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include font($fontCeraPro, 400, 16, 1.25);
      color: $second-font-color;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 225px;
      }
      @media screen and (min-width: 1440px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: stretch;
        margin-left: auto;
        @include font($fontCeraPro, 400, 18, 1.25);
      }
    }
  }
  &__item {
    display: flex;
    text-decoration: none;
    color: $second-font-color;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1440px) {
      align-items: flex-end;
    }
  }
  &__item-list > li {
    @include font($fontCeraPro, 400, 16, 1.25);
    color: $second-font-color;
    text-decoration: none;
    list-style: none;
    text-align: start;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1440px) {
      text-align: end;
      @include font($fontCeraPro, 400, 18, 1.25);
    }
  }
  &__item-list > li:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 18px;
    }
  }
}

.time-item:nth-child(2) {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 18px;
  }
}
.sub-title {
  margin-bottom: 18px;
}

.mosaics {
  display: none;
  @media screen and (min-width: 1440px) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 437px;
    height: 293px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
  }

  &__img {
    width: 139px;
    height: 139px;
  }

  &__img-one {
    border-radius: 0px 72px 0px 0px;
    background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-1x.jpg);
    background-repeat: no-repeat;
    background-size: 438px 294px;
    background-position: left top;
  }

  &__img-two {
    position: absolute;
    top: 11px;
    left: 151px;
    border-radius: 0px 0px 0px 72px;
    background-repeat: no-repeat;
    background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-1x.jpg);
    background-position: 50% 0;
    background-size: 438px 294px;
  }

  &__img-three {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 72px 0px;
    background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-1x.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 438px 294px;
  }

  &__img-four {
    position: absolute;
    left: 2px;
    bottom: 6px;
    border-radius: 0px 72px;
    background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-1x.jpg);
    background-position: 2% 97%;
    background-repeat: no-repeat;
    background-size: 438px 294px;
  }

  &__img-five {
    position: absolute;
    bottom: 0;
    left: 144px;
    border-radius: 72px;
    background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-1x.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 438px 294px;
  }

  &__img-six {
    position: absolute;
    bottom: 4px;
    right: 8px;
    border-radius: 0px 0px 72px 0px;
    background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-1x.jpg);
    background-position: 96% 96%;
    background-repeat: no-repeat;
    background-size: 438px 294px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mosaics__img-one,
    .mosaics__img-two,
    .mosaics__img-three,
    .mosaics__img-four,
    .mosaics__img-five,
    .mosaics__img-six {
      background-image: url(/src/images/pic/order/3-order-mosaics-img-desktop-2x.jpg);
    }
  }
}
