.cont-order {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    max-width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1142px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 149px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 80px;
  }
}

.contact {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 555px;
  }
}

.feedback {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1440px) {
    width: 555px;
  }
  &__title {
    margin-bottom: 44px;
  }
  &__field {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 44px;
    }
    &:nth-child(7) {
      position: relative;
      margin-bottom: 24px;
    }
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    @include font($fontCeraPro, 400, 16, 1.25);
    color: $second-font-color;
    text-transform: capitalize;
  }

  &__input {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #487996;
    @include font($fontCeraPro, 400, 16, 1.25);
    color: $second-font-color;
    @media screen and (min-width: 768px) {
      @include font($fontCeraPro, 400, 16, 1.25);
    }
    @media screen and (min-width: 1440px) {
      @include font($fontCeraPro, 400, 18, 1.25);
    }
  }
  &:hover,
  &:focus {
    outline: transparent;
    border-color: $svg-color;
  }
  .feedback__field:hover + &,
  .feedback__field:focus + & {
    border-color: $svg-color;
  }
  &__text {
    width: 100%;
    height: 199px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid #487996;
    border-radius: 50px 0px;
    outline: transparent;
    padding: 22px 20px;
    color: rgba(117, 117, 117);
    @media screen and (min-width: 768px) {
      @include font($fontCeraPro, 400, 16, 1.25);
      height: 199px;
    }
    @media screen and (min-width: 1440px) {
      @include font($fontCeraPro, 400, 18, 1.25);
      height: 199px;
    }
    &:focus,
    &:hover {
      border-color: $svg-color;
    }
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    .modal__label:focus & {
      border: 1px solid var(--accent-color);
      outline: transparent;
      font-family: inherit;
      opacity: 1;
    }
  }
  &__upload {
    display: inline-block;
    cursor: pointer;
  }
  &__upload-text {
    @include font($fontCeraPro, 400, 16, 1.25);
    color: #cdcdcd;
    @media screen and (min-width: 768px) {
      @include font($fontCeraPro, 400, 16, 1.25);
    }
    @media screen and (min-width: 1440px) {
      @include font($fontCeraPro, 400, 18, 1.25);
    }
    &:hover,
    &:focus {
      color: $svg-color;
    }
  }
  &__button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}
input [type='file'] {
  display: none;
  position: relative;
}

.icon-paper-clip {
  position: absolute;
  top: 185px;
  right: 23px;
  fill: #cdcdcd;
  &:hover,
  &:focus {
    fill: $svg-color;
  }
}

// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
