.order {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 0 20px;

  @media screen and (min-width: 768px) {
    max-width: $tablet;
    padding: 40px 32px 0 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1142px;
    padding: 40px 0 0 0;
  }

  &__container {
    margin-bottom: 40px;
    min-width: 280px;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      min-width: 280px;
    }

    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;

      max-width: 1142px;

      margin-bottom: 100px;
    }
  }

  &__figure-one {
    display: none;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1440px) {
      display: block;
      position: absolute;
      box-shadow: $box-shadow-color;
      @include bd-figure(82, 78, -114, 0);
      border-radius: 0px 0px 72px 0px;
    }
  }

  &__figure-two {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      box-shadow: $box-shadow-color;
      @include bd-figure(72, 64, 736, -42);
      border-radius: 0px 0px 0px 72px;
    }

    @media screen and (min-width: 1440px) {
      display: block;
      position: absolute;
      box-shadow: $box-shadow-color;
      @include bd-figure(137, 83, 1122, -42);
      border-radius: 0px 0px 0px 72px;
    }
  }

  &__figure-three {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      box-shadow: $box-shadow-color;
      @include bd-figure(72, 64, 736, -42);
      border-radius: 0px 0px 0px 72px;
    }

    @media screen and (min-width: 1440px) {
      display: block;
      position: absolute;
      box-shadow: $box-shadow-color;
      @include bd-figure(137, 144, -22, 818);
      border-radius: 72px 72px 72px 72px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1440px) {
      text-align: start;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-width: 280px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      min-width: 280px;
    }
    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__picture {
    max-width: 280px;
    max-height: 171px;
    border-radius: 15px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
      min-width: 100%;
    }
    @media screen and (min-width: 768px) {
      min-width: 336px;
      min-height: 158px;
    }
    @media screen and (min-width: 1440px) {
      min-width: 555px;
      min-height: 400px;
    }
  }

  &__text {
    color: $second-font-color;
    max-width: 280px;
    @include font($fontCeraPro, 400, 16, 1.25);
    @media screen and (min-width: 768px) {
      max-width: 100%;
    }
    @media screen and (min-width: 1440px) {
      @include font($fontCeraPro, 400, 18, 1.28);
      max-width: 100%;
    }

    & :first-child {
      margin-bottom: 16px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
      @media screen and (min-width: 1440px) {
        margin-bottom: 16px;
      }
    }
  }
  &__img {
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1440px) {
      display: block;
      position: absolute;
      left: 587px;
      top: 247px;
      width: 672px;
      height: 203px;
      &-one {
        border-radius: 0px 72px 72px 0px;
        filter: $img-drop-shadow-color;
      }
      &-two {
        border-radius: 72px 0px;
        filter: $img-drop-shadow-color;
      }
      &-three {
        border-radius: 0px 0px 72px 0px;
        filter: $img-drop-shadow-color;
      }
    }
  }
  &__list {
    display: none;
    @media screen and (min-width: 1440px) {
      display: flex;
      gap: 32px;
    }
  }
}
